
<div id="dermMobileMenu">
  <ul class="slideoverMenu">
    <li class="brand-head">
      <a href="/" class="link-cat" title="Dermstore Logo">Dermstore</a>
    </li>
    <li>
      <form action="/searchsite.php">
        <input type="text" name="keyword" placeholder="SEARCH..." autocomplete="off" spellcheck="false">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </li>
    <li>
      <a href="/all_100.htm" class="link-cat" title="Brands">brands</a>
    </li>
    <li>
      <a href="#subnav" class="link-cat" title="Expand Skin Care">skin care</a>
      <ul class="subnav" style="display:none">
        <li><a href="/profile_Cleansers+and+Exfoliators_503724.htm" class="link-cat" title="Skin Care > Cleansers & Exfoliators">Cleansers & Exfoliators</a></li>
        <li><a href="/profile_Moisturizers_300082.htm" class="link-cat" title="Skin Care > Moisturizers">Moisturizers</a></li>
        <li><a href="/profile_Treatments+and+Serums_500918.htm" class="link-cat" title="Skin Care > Serums">Serums</a></li>
        <li><a href="/profile_Face+Sun+Care_501201.htm" class="link-cat" title="Skin Care > Sun Care">Sun Care</a></li>
        <li><a href="/profile_Skin+Care+Kits+and+Value+Sets_500295.htm" class="link-cat" title="Skin Care > Value Sets">Value Sets</a></li>
        <li><a href="/profile_Professional+Tools+and+Devices_501335.htm" class="link-cat" title="Skin Care > Tools & Devices">Tools & Devices</a></li>
        <li><a href="/profile_Skin+Care_500014.htm" class="link-cat" title="Skin Care > All Skin Care">All Skin Care</a></li>
      </ul>
    </li>
    <li>
      <a href="#subnav" title="Expand Makeup" class="link-cat">makeup</a>
      <ul class="subnav" style="display:none">
        <li><a href="/profile_Foundation_300125.htm" class="link-cat" title="Makeup > Foundation">Foundation</a></li>
        <li><a href="/profile_Face+Concealer_300021.htm" class="link-cat" title="Makeup > Concealer">Concealer</a></li>
        <li><a href="/profile_Eye+Makeup_503726.htm" class="link-cat" title="Makeup > Eye Makeup">Eye Makeup</a></li>
        <li><a href="/profile_Lip+Makeup_500831.htm" class="link-cat" title="Makeup > Lip Makeup">Lip Makeup</a></li>
        <li><a href="/profile_Face+Makeup_501205.htm" class="link-cat" title="Makeup > Face Makeup">Face Makeup</a></li>
        <li><a href="/profile_Mascara_300132.htm" class="link-cat" title="Makeup > Mascara">Mascara</a></li>
        <li><a href="/profile_Makeup+Sets+and+Palettes_500834.htm" class="link-cat" title="Makeup > Palettes & Sets">Palettes & Sets</a></li>
        <li><a href="/profile_Makeup_300114.htm" class="link-cat" title="Makeup > All Makeup">All Makeup</a></li>
      </ul>
    </li>
    <li>
      <a href="#subnav" class="link-cat" title="Expand Hair Care">hair care</a>
      <ul class="subnav" style="display:none">
        <li><a href="/profile_Shampoo_300056.htm" class="link-cat" title="Hair Care > Shampoo">Shampoo</a></li>
        <li><a href="/profile_Conditioner_300076.htm" class="link-cat" title="Hair Care > Conditioner">Conditioner</a></li>
        <li><a href="/profile_Styling+Tools_500840.htm" class="link-cat" title="Hair Care > Styling Tools">Styling Tools</a></li>
        <li><a href="/profile_Styling+Products_502156.htm" class="link-cat" title="Hair Care > Styling Products">Styling Products</a></li>
        <li><a href="/profile_Hair+Treatments_503728.htm" class="link-cat" title="Hair Care > Hair Treatments">Hair Treatments</a></li>
        <li><a href="/profile_Hair+Care_300024.htm" class="link-cat" title="Hair Care > All Hair Care">All Hair Care</a></li>
      </ul>
    </li>
    <li>
      <a href="#subnav" class="link-cat" title="Expand Bath & Body">bath & body</a>
      <ul class="subnav" style="display:none">
        <li><a href="/profile_Lotions+and+Oils_501454.htm" class="link-cat" title="Bath & Body > Lotions & Oils">Lotions & Oils</a></li>
        <li><a href="/profile_Bath+and+Shower_503722.htm" class="link-cat" title="Bath & Body > Bath & Shower">Bath & Shower</a></li>
        <li><a href="/profile_Body+Treatments_500953.htm" class="link-cat" title="Bath & Body > Body Treatments">Body Treatments</a></li>
        <li><a href="/profile_Hair+Removal_300027.htm" class="link-cat" title="Bath & Body > Hair Removal">Hair Removal</a></li>
        <li><a href="/profile_Baby+and+Mom_501883.htm" class="link-cat" title="Bath & Body > Baby & Mom">Baby & Mom</a></li>
        <li><a href="/profile_Fragrance_300136.htm" class="link-cat" title="Bath & Body > Fragrance">Fragrance</a></li>
        <li><a href="/profile_Oral+Care_501722.htm" class="link-cat" title="Bath & Body > Oral Care">Oral Care</a></li>
        <li><a href="/profile_Body+Kits+and+Value+Sets_500152.htm" class="link-cat" title="Bath & Body > Value Sets">Value Sets</a></li>
        <li><a href="/profile_Bath+and+Body_300019.htm" class="link-cat" title="Bath & Body > All Bath & Body">All Bath & Body</a></li>
      </ul>
    </li>
    <li>
      <a href="#subnav" class="link-cat" title="Expand Natural">natural</a>
      <ul class="subnav" style="display:none">
        <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=500014&filter%5B%5D=501278&attributes=500014" class="link-cat" title="Natural > Skin Care">Skin Care</a></li>
        <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=300114&filter%5B%5D=501278&attributes=300114" class="link-cat" title="Natural > Makeup">Makeup</a></li>
        <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=300024&filter%5B%5D=501278&attributes=300024" class="link-cat" title="Natural > Hair Care">Hair Care</a></li>
        <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=300019&filter%5B%5D=501278&attributes=300019 " class="link-cat" title="Natural > Bath & Body">Bath &amp; Body</a></li>
        <li><a href="/profile_Natural_501278.htm" class="link-cat" title="Bath & Body > All Bath & Body">All Natural</a></li>
      </ul>
    </li>
    <li>
      <a href="#subnav" class="link-cat" title="Expand Rewards">
        Rewards</a>
      <ul class="subnav" style="display:none">
        <li>
          <p>Sign up to earn points towards discounts on your favorite brands and products!</p></li>
        <li class="split">
          <a href="/content/content.php?content=rewards" style="opacity:.75" class="link-cat" title="Learn More">Learn More</a>
          <a href="/account/login.php?loyalty_optin=1" class="link-cat" title="Rewards > Join"><strong>Join Now</strong></a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/profile_Sale_504310.htm" class="link-cat" title="Sale">Sale</a>
    </li>
    <li>
      <a href="/skinhealthcenter/" class="link-cat" title="Skin Health Center">Skin Health Center</a>
    </li>
    <li>
      <a href="/blog/" class="link-cat" title="Blog">Blog</a>
    </li>
    <li>
      <a href="/skymd/sky-md-patient.php" class="link-cat" title="Ask a Dermatologist">Ask a Dermatologist</a>
    </li>
    <li>
      <a href="/reviews.htm" class="link-cat" title="Reviews">Reviews</a>
    </li>
    <li>
      <a href="/press.php/" class="link-cat" title="Press">Press</a>
    </li>
    <li>
      <a href="#subnav" class="link-cat" title="Expand Customer Service">customer service</a>
      <ul class="subnav" style="display:none">
        <li><a href="/content/content.php?content=customer" class="link-cat" title="CS > Customer Service">Customer Service</a></li>
        <li><a href="/account/order_list.php" class="link-cat" title="CS > Order Status">Order Status</a></li>
        <li><a href="/content/content.php?content=shipping" class="link-cat" title="CS > Shipping Policies">Shipping Policies</a></li>
        <li><a href="/content/content.php?content=returns" class="link-cat" title="CS > Returns">Returns</a></li>
        <li><a href="/content/content.php?content=faqs" class="link-cat" title="CS > FAQ">FAQ</a></li>
        <li><a href="/content/content.php?content=policies&show=privacy" class="link-cat" title="CS > Privacy Policy">Privacy Policy</a></li>
        <li><a href="/extend_DermStore_268.htm" class="link-cat" title="CS > Discount Exclusions">Discount Exclusions</a></li>
        <li><a href="/content/content.php?content=terms" class="link-cat" title="CS > Website Terms of Use">Website Terms of Use</a></li>
        <li><a href="tel:1-800-213-3376" class="link-cat" title="CS > Call Us">
          <span class="visible-xs"><i class="fa fa-phone fa-flip-horizontal" style="margin-right:.5em"></i>Call Us</span>
          <span class="hidden-xs"><i class="fa fa-phone fa-flip-horizontal" style="margin-right:.5em"></i>1800-213-DERM(3376)</span>
        </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/account/account.php" class="link-cat" title="Log In">
        <i class="fa fa-user-circle" aria-hidden="true" style="margin-right:.5em"></i>Log In</a>
    </li>
  </ul>
</div><!--mobile nav-->
