<footer>

  <!-- BEGIN: Desktop View-->
  <div class="footer-wrapper hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12">
          <p class="footerMenuHead">Company</p>
          <ul class="footerMod">
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/features/ds_spa.php">Dermstore Spa</a></li>
            <li><a href="/content/content.php?content=testimonials">Testimonials</a></li>
            <li><a href="/press.php">Press</a></li>
            <li><a href="/content/content.php?content=affiliate">Affiliates</a></li>
            <li><a href="/brand_submission_form.php">Brand Submissions </a></li>
            <li><a href="/giftcard/order.php">eGift Cards</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <p class="footerMenuHead">Customer Service</p>
          <ul class="footerMod">
            <li><a href="/content/content.php?content=customer">Customer Service</a></li>
            <li><a href="/content/content.php?content=faqs" title="FAQs">FAQs</a></li>
            <li><a href="/content/content.php?content=rewards" title="FAQs">About Rewards</a></li>
            <li><a href="/account/order_status.php" title="Order Status">Order Status</a></li>
            <li><a href="/content/content.php?content=shipping">Shipping Information</a></li>
            <li><a href="/content/content.php?content=faqs&faqAnchor=collapseTen">Product Recall</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <p class="footerMenuHead">My Account</p>
          <ul class="footerMod">
            <li><a href="/account/autorefills_list.php">Dermstore Subscriptions</a></li>
            <li><a href="/account/rewards.php">My Rewards</a></li>
            <li><a href="/account/favorites.php">My Favorites</a></li>
            <li><a href="/account/order_list.php">Order History</a></li>
            <li><a href="/account/send_a_friend.php">Refer a Friend</a></li>
            <li><a href="/content/content.php?content=returns">Returns</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <p id="footerEmailOffer" class="footerMenuHead">New Subscribers Receive 20% Off</p>
          <form id="subscribeForm" method="post">
            <input type="hidden" value="5" name="bucket_id">
            <div class="input-group">
              <input type="email" name="email_address" class="form-control" placeholder="Email Address" style="
              width: 100%;">
              <span class="input-footer input-group-btn">
                <button class="btn btn-default submitFooterNewsletter sub-btn-adjust" id="bs_footerEmailSubmit" type="submit" style="border-left: #fff; border-radius: 0px;"> <i class="fa fa-angle-right"> </i> </button>
              </span></div>
          </form>
          <div class="social-icons">
            <p class="followus-Social">Follow Us On</p>
            <a href="https://www.facebook.com/DermStore" target="_blank" class="img-circle"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/dermstore" target="_blank" class="img-circle"><i class="fa fa-twitter"></i></a> <a href="http://instagram.com/dermstore" target="_blank" class="img-circle"><i class="fa fa-instagram"></i></a> <a href="http://www.youtube.com/user/dermstore/shopblushtv" target="_blank" class="img-circle"><i class="fa fa-youtube"></i></a> <a href="http://www.pinterest.com/dermstore/" target="_blank" class="img-circle"><i class="fa fa-pinterest"></i></a> <a href="https://plus.google.com/+dermstore/posts" target="_blank" class="img-circle"><i class="fa fa-google-plus"></i></a>
          </div>
        </div><!-- row ends-->


      </div><!-- row ends-->



      <div id="footer-bottom" class="row">

        <div class=" col-xs-12 text-center">
          <hr class="footerLine">
          <!--   VeriSign  and Google Trust Links-->
          <div id="GTS_CONTAINER"></div>
        </div>
        <!-- .col -->
      </div>
      <!--  row ends -->
      <div class="row footer-bottom">
        <div class="col-md-5 col-sm-5">
          <small>Copyright © 2017 Dermstore.com. All Rights Reserved.</small>
        </div>
        <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 pull-right">
          <small class="pull-right"> <a class="border-right" title="Site Map" href="/map.htm" style="padding-right: 5px;">Site Map</a> <a style="padding: 0 5px;" class="border-right" title="Privacy and Security" href="/content/content.php?content=policies&amp;show=privacy">Privacy and Security</a> <a style="" title="Terms of use" href="/content/content.php?content=terms">Terms of Use</a> </small> </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- container -->
  </div>
  <!-- footer-wrapper -->
  <div class="container-fluid" style="background-color: #E8EAE9;">
    <div class="row visible-xs" >
      <div class="col-xs-12 menu-seperator">
        <p class="footerAccordion footerMenuHead">Company</p>
        <ul class="footerMod hideFooterNav">
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/features/ds_spa.php">Dermstore Spa</a></li>
          <li><a href="/content/content.php?content=testimonials">Testimonials</a></li>
          <li><a href="/content/content.php?content=affiliate">Affiliates</a></li>
          <li><a href="/brand_submission_form.php">Brand Submissions </a></li>
          <li><a href="/giftcard/order.php">eGift Cards</a></li>
        </ul>
      </div>
      <div class="col-xs-12 menu-seperator">
        <p class="footerAccordion footerMenuHead">Customer Service</p>
        <ul class="footerMod hideFooterNav">
          <li><a href="/content/content.php?content=customer">Customer Service</a></li>
          <li><a href="/content/content.php?content=faqs">FAQs</a></li>
          <li><a href="/content/content.php?content=rewards" title="FAQs">About Rewards</a></li>
          <li><a href="/account/order_status.php" title="Order Status">Order Status</a></li>
          <li><a href="/content/content.php?content=shipping">Shipping Information</a></li>
          <li><a href="/content/content.php?content=faqs&faqAnchor=collapseTen">Product Recall</a></li>
        </ul>
      </div>
      <div class="col-xs-12 menu-seperator">
        <p class="footerAccordion footerMenuHead">My Account</p>
        <ul class="footerMod hideFooterNav">
          <li><a href="/account/autorefills_list.php">Dermstore Subscriptions</a></li>
          <li><a href="/account/rewards.php">My Rewards</a></li>
          <li><a href="/account/favorites.php">My Favorites</a></li>
          <li><a href="/account/order_list.php">Order History</a></li>
          <li><a href="/account/send_a_friend.php">Refer a Friend</a></li>
          <li><a href="/content/content.php?content=returns">Returns</a></li>
        </ul>
      </div>
      <div class="col-xs-12" style="padding-top: 16px; padding-left:24px;">
        <p id="footerEmailOfferMobile">New Subscribers Receive 20% Off</p>
        <form id="subscribeFormMobile" method="POST">
          <div class="input-group" style="width: 93%;">
            <input id="newsletterSignupMobile" type="email" name="email_address" style="height: 38px; font-size: 14px; width: 100%;" class="form-control" placeholder="Email Address">
            <span class="input-group-btn">
                  <button class="btn-mod btn btn-default submitFooterNewsletter" style="border-left: #fff; border-radius: 0px;" id="bs_footerEmailSubmit" type="submit"> <i class="fa fa-angle-right"></i> </button>
                </span>
          </div>
        </form>
        <div class="social-icons text-center">
          <p class="followus-Social">Follow Us On</p>
          <a href="https://www.facebook.com/DermStore" target="_blank" class="img-circle">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/dermstore" target="_blank" class="img-circle">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="http://instagram.com/dermstore" target="_blank" class="img-circle">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="http://www.youtube.com/user/dermstore/shopblushtv" target="_blank" class="img-circle">
            <i class="fa fa-youtube"></i></a>
          <a href="http://www.pinterest.com/dermstore/" target="_blank" class="img-circle">
            <i class="fa fa-pinterest"></i>
          </a>
          <a href="https://plus.google.com/+dermstore/posts" target="_blank">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div><!-- .col -->
    </div><!-- .row -->
  </div>
  <!-- END: Mobile View-->

</footer>
