
#stickyFooter * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#stickyFooter {
  font-size: 14px;
}

#stickyFooter {
  background-color: #fff;
  border-top: 2px solid #c2c2c2;
  position: fixed;
  height: 70px;
  width: 100%;
  bottom: 0;
  z-index: 8999;
  -webkit-transform: translate3d(0, 0, 0);
  overflow: visible;
}

#stickyFooter .col-xs-12 {
  width: 100%;
  float: left;
}

#stickyFooter .form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

@media (min-width: 1280px) {

  #stickyFooter .hideFooter {
    /*        right: 220px!important;
    */
  }


}

#stickyFooter .hideFooter {
  position: absolute;
  color: #AAA;
  font-size: 18px;
  top: 12px;
  right: 12px;
}



#stickyFooter .offerText {
  font-size: 16px;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 15px;
  letter-spacing: 2px;
  font-weight: 700;
}

#stickyFooter .offerText2 {
  font-size: 15px;
  color: rgb(69, 70, 71);
  margin-top: 15px;
}

#stickyFooter .spinnerText {
  margin-top: 20px;
  text-align: center;
  color: #FFF;
}

#stickyFooter .blueText {
  color: #079cb4;
}

#stickyFooter .conditions {
  font-size: 11px;
  letter-spacing: normal;
  font-family: 'Century Gothic', Arial;
  text-transform: none;
  font-family: Arial;
}

#stickyFooter .joinBtn {
  width: 125px;
  height: 34px;
  float: right;
  background-color: #079cb4;
  color: #FFF;
  font-family: 'Century Gothic', Arial;
  margin-top: 15px;
  border: none;
  font-size: inherit;
}

#stickyFooter #emailFootSubmit input {
  width: 240px;
  border-radius: 0px;
  float: right;
  margin-top: 15px;
}

#displayFootLoading, #displayFootThankYou, #displayFootExists, #displayFootError {
  display: none;
}

#stickyFooter .visible-xs-block {
  display: none;
}

.form-control::-moz-placeholder {
  text-align: left!important;
}

@media (max-width : 767px) {

  #stickyFooter .hideFooter {
    right: 11px;

  }

  input.small-field {
    width: calc(100% - 90px);
    float: left!important;
    margin-top: 15px!important;
  }

}

.align-btn {
  float: left!important;
}





@media (min-width : 768px) and (max-width : 1024px) {
  #stickyFooter {
    height: 85px;
  }
  #stickyFooter #submitFooter .offerText2 {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  #stickyFooter .offerText {
    margin-top: 10px;
  }
  #stickyFooter .conditions {
    font-size: 10px;
  }

  #stickyFooter #emailFootSubmit input {
    margin-left: 10px;
  }

  #stickyFooter .joinBtn {
    width: 115px;
  }

  #stickyFooter .hideFooter {
    right: 12px!important;
  }
}


@media (max-width : 767px) {
  #stickyFooter {
    height: 105px;
  }

  #stickyFooter .hideFooter {
    right: 12px;
  }

  #stickyFooter .offerText {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  #stickyFooter .offerText2 {
    text-align: center;

  }

  #stickyFooter .conditions {
    font-size: 10px;
  }

  #displayFootThankYou, #displayFootExists {
    margin-top: 20px;
  }

  #emailFootSubmit input {
    float: none;
    margin-top: 1px;
    display: inline-block;
  }

  #stickyFooter .joinBtn {
    display: block;
    margin: 0 auto;
    float: none;
  }

  #submitFooter .joinBtn, #displayFootError .joinBtn {
    display: inline-block;
  }

  #stickyFooter #emailFootSubmit input {
    width: 195px;
  }

  #stickyFooter #emailFootSubmit .joinBtn {
    width: 90px;
    padding-bottom: 1px;
  }

  #stickyFooter #emailFootSubmit {
    width: 290px;
    margin: 0 auto;
  }
}

@media (max-width : 480px) {
  #stickyFooter {
    height: 140px;
  }

  #stickyFooter .offerText {
    font-size: 16px;
  }

  #stickyFooter .offerText2 {
    font-size: 14px;
  }

  #stickyFooter .conditions {
    font-size: 9px;
  }
  #stickyFooter #emailFootSubmit input {
    margin-top: 0 !important;
  }
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 320px) {
  input.small-field {
    width: 170px !important;
  }
}
