/* You can add global styles to this file, and also import other style files */
//<style id="vectorLogo">
@media (min-width: 992px) {
  #header-nav .logo img {
    width: 50%
  }
}
//</style>
//<style id="overflowFix=DSCSS" data-note="DO NOT DELETE W/O DISCUSSING W/ RAFE" data-auth="@rg">
/*=DS SELECTOR OVERRIDES
*/
@media (min-width: 481px){
  #header-nav {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#allBrandsContainer .letterHeader,
#allBrandsContainer .letterHeader + ul {
  margin-left: 10px;
  margin-right: 10px;
}

#category-page > .row:first-child [class*="col-"]:only-child {
  padding-left: 0;
  padding-right: 0;
}

#prodGrid {
  max-width: 100vw;
  overflow: hidden;
}

#prodGrid .prod-widget-responsive {
  padding: 0 10px;
}

#refineBy {
  padding-right: 15px;
}

.stat-nav {
  padding: 0;
}

#mobileTable > .row > [class*="col-"] {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#dermstore-new #header-nav ul#utility-right-menu > li {
  position: relative;
  padding: 5px 5px 0 0;
}

#dermstore-new #header-nav .mobileCartNum {
  top: 0;
  right: initial;
  left: 100%;
  transform: translateX(-37.5%) translateY(-37.5%);
  box-sizing: content-box;
  min-height: initial;
  min-width: initial;
  width: 2em;
  height: 2em;
  margin: 0 0 0 -5px;
  padding: 0;
  line-height: 2;
  border: none;
  border-radius: 100%;
  font-size: 10px;
}

@media (max-width: 991px) {
  #dermstore h1.slider-heading:before {
    width: 100%;
  }
}

#accBx > [class*="col-"],
#accBx.row ~ .row {
  padding-left: 15px;
  padding-right: 15px;
}

/*@media (max-width: 767px) {
          #accBx > [class*="col-"] {
              padding-left: 0 !important;
              padding-right: 0 !important;
          }
      }*/

@media (min-width: 768px) {
  #login-modal .modal-body > .container-fluid > .row > [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*
      #checkout > .container,
      #shopping-cart > .container {
          padding: 0 15px !important;
      }
      #checkout > .container [class*="col-"],
      #shopping-cart > .container [class*="col-"] {
          padding-left: 0 !important;
          padding-right: 0 !important;
      }
      @media (min-width:992px) {
          #checkoutMain >  [class*="col-"]:first-child {
              padding-right: 20px !important;
          }
      }
      */

/*=LP PADDING UTILITY STYLES
       */
@media (min-width: 768px) {
  .review.row,
  #mainContent.row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.review.row > [class*="col-"],
#mainContent.row > [class*="col-"] {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/*=PADDING UTILITY STYLES CLASSES
       */
@media (min-width: 768px) {
  .row.pad {
    margin-left: -15px;
    margin-right: -15px;
  }
}
[class*="col-"].pad,
.row.pad > [class*="col-"] {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.row.nopad {
  margin-left: 0;
  margin-right: 0;
}
//</style>
