
#header-top #utility-right-menu > .dropdown > .dropdown-menu.dropdown-menu {
  left: initial;
  right: 0;
  padding: 0 !important;
}

#dermstore #header-top #utility-right-menu > .dropdown > .dropdown-menu.dropdown-menu:before {
  right: 5px;
}

#dermstore #header-top #utility-right-menu > .dropdown > .dropdown-menu.dropdown-menu:after {
  right: 6px;
}

#header-top #utility-right-menu > li a {
  display: block;
  text-decoration: none !important;
}

#header-top #utility-right-menu .dropdown-menu > li > a {
  transition: all .1625s ease;
}

#header-top #utility-right-menu .dropdown-menu > li > a:active {
  color: #808080;
  text-shadow: 0 1px 0 white;
}

#header-top #utility-right-menu .dropdown-menu > li > a {
  padding: 1em;
}

#header-top #utility-right-menu .dropdown-menu > li:not(.divider):not(.dropdown-header):not(:last-child) > a {
  margin-bottom: -.5em;
}

#header-top #utility-right-menu .dropdown-menu > li:not(.dropdown-header) + .divider {
  margin-top: .5em;
}

#header-top #utility-right-menu > li + li {
  box-shadow: -8px 0 0 -7px rgba(255,255,255,.375);
  padding: 10px 0 10px 1px !important;
  margin-top: 5px;
}

#header-top #utility-right-menu > li > .dropdown-menu {
  left: initial;
  right: -30px;
}

#header-top #utility-right-menu .dropdown-header a {
  color: #333 !important;
  background-image: linear-gradient(to bottom, white 37.5%, rgba(255, 255, 255, 0));
}

#header-top #utility-right-menu .dropdown-header:hover a {
}

#header-top #utility-right-menu .divider.divider {
  margin: 0;
}

#header-top #utility-right-menu li.dropdown-logout.dropdown-logout {
  text-align: center;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: .1em;
}

#header-top #utility-right-menu li.dropdown-logout.dropdown-logout > a {
  padding-top: .5em;
  padding-bottom: .5em;
}


#dermstore .flyouts {
  border: none;
  /*box-shadow: 0 6px 6px -3px #cdcbcb;*/
  position: fixed !important;
  background-color: rgba(255,255,255,.9625);
  background-image: linear-gradient(to left, #FFF 12.5%, rgba(255,255,255,0), #FFF 87.5%);
  box-shadow: calc(-1 * (50vw - (998px / 2))) 0 0 0 white, calc(50vw - (998px / 2)) 0 0 0 white, 0 4px 15px -5px rgba(0,0,0,.25) !important;
}

#dermstore .flyouts.flyouts {
  left: 0;
  top: 100%;
  display: block;
  opacity: 0;
  transition: all .5s ease;
  pointer-events: none;
}
.isIE #dermstore .flyout.flyouts {
  position: fixed !important;
}

#dermstore .hover .flyouts.flyouts {
  transition: all .375s ease;
  opacity: 1;
  pointer-events: auto;
}
#dermstore #topMainNavigationNew:not(:hover) .flyouts {
  transition-duration: .075s;
  transition-delay: 0s;
  transition-timing-function: linear;
}

#topMainNavigationNew .flyouts h4 {
  font-family: 'futura-pt' !important;
  color: #003b4c;
}

#dermstore nav > ul > li > a:hover {
  border-bottom: none;
}

#dermstore nav > ul > li:hover {
  font-weight: bold;
}

#dermstore nav#topMainNavigationNew>ul>li {
  padding: 0 1.8em !important;
}
.subnav_section {
  padding-right: 30px !important;
}

.subnav_headline {
  border-bottom: 1px solid #079cb4;
  padding-bottom: 5px;
}
.subnav_headline--reviews {
  border: 0 !important;
  margin-top: 15px !important;
}
h4.subnav_headline--reviews a {
  color: #003b4c;
}

.subnav_section a:hover {
  font-weight: bold;
  text-decoration: none;
}

.subnav_allbrLink {
  border-bottom: 1px solid #555555;
  font-weight: bold;
}

.subnav_allbrLink:hover {
  text-decoration: none;
}

.subnav_blogtext {
  margin-top: 30px;
}

#dermstore .flyoutLInk.hover .flyouts {
  position: absolute !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #dermstore nav#topMainNavigationNew>ul>li {
    padding: 0 1.7em !important;
  }
}

