<div id="dermstore-new">

    <div id="header-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-7">
            <!--<p id="mobileShipText" class="visible-xs">FREE 1-3 day shipping, Free Returns</p>-->
            <a href="/profile_BY+TERRY_504277.htm" id="" class="animated animateHeader fadeInDown ">
              <div id="topBanner" class="alert alert-warning">
                <span style="color: #ffffff; text-decoration: none;"><strong>Save 20%</strong> on all <strong>BY TERRY</strong> with code <strong>BYTERRY</strong>. <span style="text-transform: uppercase; text-decoration: underline; color: #ffffff;">SHOP NOW</span> <span style="font-size: 10px; color: #ffffff; text-decoration: none;"> *Sale ends 9/20. </span> </span>                        </div><!--#topBanner-->
            </a>

            <a href="/profile_Paulas+Choice_502830.htm" id="" class="animated animateHeader fadeInDown hidden">
              <div id="topBanner" class="alert alert-warning">
                <span style="color: #ffffff; text-decoration: none;"><strong>Save 15%</strong> on all Paula's Choice for a limited time. <span style="text-transform: uppercase; text-decoration: underline; color: #ffffff;">SHOP NOW</span> <span style="font-size: 10px; color: #ffffff; text-decoration: none;"> *Sale ends 9/21. </span> </span>                        </div><!--#topBanner-->
            </a>

          </div>
          <div class="col-xs-2 col-sm-4 col-md-5">
            <ul id="utility-right-menu" class="pull-right hidden-xs">
              <li class="hidden-xs hidden-sm">
                <a href="/content/content.php?content=rewards">
                  <strong style="
                                    text-transform: uppercase;
                                    letter-spacing: .1em;
                                    text-decoration: underline;
                                ">Earn Rewards</strong>
                </a>
              </li>


                  <li class="dropdown hidden-xs">
                    <span  *ngIf="!checkLogin" style="font-size: 12px">
                      <a class="dropdown-toggle" data-toggle="dropdown">Log In / Sign Up <i class="fa fa-caret-down"></i></a><!-- LICSTAMP: 2017-09-16 17:57:46 m36k1g76ajqgbk7q33gi54r124 -->
                      <ul class="dropdown-menu" role="menu" data-flag="remove attr">
                        <li><a routerLink="/users" routerLinkActive="active">Log In / Sign Up</a></li>
                        <li><a href="/account/order_list.php">Track Order</a></li>
                        <li><a href="/account/order_list.php">Easy Returns</a></li>
                        <li><a href="/account/order_list.php">Order History</a></li>
                        <li><a href="/account/favorites.php">My Favorites</a></li>
                        <li><a href="/account/autorefills_list.php">Dermstore Subscriptions</a></li>
                      </ul>
                    </span>
                  </li>



                  <li class="dropdown hidden-xs">
                    <span  *ngIf="checkLogin" style="font-size: 12px">
                      <a class="dropdown-toggle" data-toggle="dropdown">Welcome<i class="fa fa-caret-down"></i></a>
                      <ul class="dropdown-menu" role="menu" data-flag="remove attr">
                        <li class="dropdown-header">
                          <a href="/account/account.php">
                            <i class="fa fa-user pull-right" aria-hidden="true" style="margin-top:3px"></i>Account
                          </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="/account/rewards.php">0 Points</a>
                        </li>
                        <li><a href="/account/order_list.php">Track Order</a></li>
                        <li><a href="/account/order_list.php">Easy Returns</a></li>
                        <li><a href="/account/order_list.php">Order History</a></li>
                        <li><a href="/account/favorites.php">My Favorites</a></li>
                        <li><a href="/account/autorefills_list.php">Subscriptions</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-logout"><a (click)="signOut()">Log Out</a></li>
                      </ul>
                    </span>
                  </li>



            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="header-nav">
      <div class="container">
        <div class="row" id="logoSearch">
          <div class="col-xs-12 col-sm-12 col-md-7 logoSearchHalf">
            <ul id="utility-left-menu">
              <li><a href="#" class="last fa fa-bars dermMobileMenuTrigger hidden-md hidden-lg visible-xs visible-sm link-cat" title="Open Mobile Nav" style="font-size: 30px;"></a></li>
            </ul>
            <div class="logo">
              <!-- <a href="/"><img src="/images/style/bootstrap3/img/logo-new.png" class="img-responsive" alt="DermStore" /></a> -->
              <a href="/" style="display:block">
                <img src="https://media.dermstore.com/images/style/bootstrap3/img/logo.vector.svg" class="img-responsive" alt="Dermstore, trusted skin care website for beauty products online" />
              </a>
            </div><!--logo-->
            <!--<p class="logo-text hidden-xs">Your prescription for all things skin and beauty</p>-->

          </div>

          <div class="col-xs-12 col-sm-12 col-md-5 logoSearchHalf">
            <div id="headerSearch" style="width:100%">
              <form role="form" name="searchsite" action="/searchsite.php">
                <div class="form-group">
                  <div class="input-group">
                    <input type="hidden" name="layout" value="grid" />
                    <input type="hidden" name="ts" value="1505609866" />
                    <input type="text" name='keyword' id='search_box' SIZE='18' class="searchbox form-control " placeholder="SEARCH" onFocus='if(this.value=="Search DermStore") {this.value=""};'>
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </form>
            </div>
            <ul id="utility-right-menu" class="pull-right hidden-xs hidden-sm">
              <app-cart></app-cart>
            </ul>
          </div>
        </div><!--.row-->
        <div class="row hidden-xs hidden-sm">
          <div class="col-xs-12 stat-nav">
            <style>
              #dermstore .flyouts {
                border: none;
                /*box-shadow: 0 6px 6px -3px #cdcbcb;*/
                position: fixed !important;
                background-color: rgba(255,255,255,.9625);
                background-image: linear-gradient(to left, #FFF 12.5%, rgba(255,255,255,0), #FFF 87.5%);
                box-shadow: calc(-1 * (50vw - (998px / 2))) 0 0 0 white, calc(50vw - (998px / 2)) 0 0 0 white, 0 4px 15px -5px rgba(0,0,0,.25) !important;
              }

              #dermstore .flyouts.flyouts {
                left: 0;
                top: 100%;
                display: block;
                opacity: 0;
                transition: all .5s ease;
                pointer-events: none;
              }
              .isIE #dermstore .flyout.flyouts {
                position: fixed !important;
              }

              #dermstore .hover .flyouts.flyouts {
                transition: all .375s ease;
                opacity: 1;
                pointer-events: auto;
              }
              #dermstore #topMainNavigationNew:not(:hover) .flyouts {
                transition-duration: .075s;
                transition-delay: 0s;
                transition-timing-function: linear;
              }

              #topMainNavigationNew .flyouts h4 {
                font-family: 'futura-pt' !important;
                color: #003b4c;
              }

              #dermstore nav > ul > li > a:hover {
                border-bottom: none;
              }

              #dermstore nav > ul > li:hover {
                font-weight: bold;
              }

              #dermstore nav#topMainNavigationNew>ul>li {
                padding: 0 1.8em !important;
              }
              .subnav_section {
                padding-right: 30px !important;
              }

              .subnav_headline {
                border-bottom: 1px solid #079cb4;
                padding-bottom: 5px;
              }
              .subnav_headline--reviews {
                border: 0 !important;
                margin-top: 15px !important;
              }
              h4.subnav_headline--reviews a {
                color: #003b4c;
              }

              .subnav_section a:hover {
                font-weight: bold;
                text-decoration: none;
              }

              .subnav_allbrLink {
                border-bottom: 1px solid #555555;
                font-weight: bold;
              }

              .subnav_allbrLink:hover {
                text-decoration: none;
              }

              .subnav_blogtext {
                margin-top: 30px;
              }

              #dermstore .flyoutLInk.hover .flyouts {
                position: absolute !important;
              }
              @media (min-width: 992px) and (max-width: 1199px) {
                #dermstore nav#topMainNavigationNew>ul>li {
                  padding: 0 1.7em !important;
                }
              }

            </style>

            <nav id="topMainNavigationNew">
              <ul>
                <li id="navPS" class="flyoutLInk" appMyhover><a href="/all_Brands_100.htm" data="brands">brands</a>
                  <div class="row hidden-xs hidden-sm noPad">
                    <div class="col-xs-12 skinFlyout flyouts">
                      <div class="container">
                        <div class="row noPad">
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">POPULAR BRANDS</h4>
                            <!-- <ul id="ulContainer"> -->
                            <ul>
                              <li><a href="/profile_Drunk+Elephant_503245.htm" data="brands">Drunk Elephant</a></li>
                              <li><a href="/profile_EltaMD_500300.htm" data="brands">Elta MD</a></li>
                              <li><a href="/profile_Eminence_500221.htm" data="brands">Eminence</a></li>
                              <li><a href="/profile_Harry+Josh+Pro+Tools_502561.htm" data="brands">Harry Josh</a></li>
                              <li><a href="/profile_jane+iredale_100098.htm" data="brands">jane iredale</a></li>
                              <li><a href="/profile_NuFACE_500214.htm" data="brands">NuFace</a></li>
                              <li><a href="/profile_Obagi_100108.htm" data="brands">Obagi</a></li>
                              <li><a href="/profile_PCA+Skin_100137.htm" data="brands">PCA Skin</a></li>
                              <li><a href="/profile_SkinCeuticals_100113.htm" data="brands">SkinCeuticals</a></li>
                              <li><a href="/profile_SkinMedica_100155.htm" data="brands">SkinMedica</a></li>
                              <li><a href="/all_Brands_100.htm" class="subnav_allbrLink">View All</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">NEW BRANDS</h4>
                            <ul>
                              <li><a href="/profile_Aviva+Hair_504840.htm" data="brands">Aviva Hair</a></li>
                              <li><a href="/profile_Bioderma_504818.htm" data="brands">Bioderma</a></li>
                              <li><a href="/profile_Elvie_504811.htm" data="brands">Elvie</a></li>
                              <li><a href="/profile_Fillerina_504812.htm" data="brands">Fillerina</a></li>
                              <li><a href="/profile_Lime+Crime_504761.htm" data="brands">Lime Crime</a></li>
                              <li><a href="/profile_REVERIE_503966.htm" data="brands">REVERIE</a></li>
                              <li><a href="/profile_Sol+de+Janeiro_504799.htm" data="brands">Sol de Janeiro</a></li>
                              <li><a href="/profile_The+Organic+Pharmacy_504767.htm" data="brands">The Organic Pharmacy</a></li>
                              <!-- <li><a href="/all_Brands_100.htm" class="btn btn-lg btn-dermstore" >ALL BRANDS</a></li> -->
                              <!-- <li><a href="/lp/new-arrivals" class="subnav_allbrLink">View All</a></li> -->
                            </ul>
                          </div>
                          <div class="col-md-4 text-center center-block">
                            <h4></h4>
                            <ul>
                              <li>
                                <a href="/product_TNS+Essential+Serum_16498.htm"><img src="//media.dermstore.com/catalog/100155/300x300/16498.jpg" class="center-block img-repsonsive">
                                  <p class="text-center"><strong>SkinMedica</strong><br> TNS Essential Serum</p></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- .row -->
                    </div>
                    <!-- .col -->
                  </div>
                </li>

                <li id="navPS" class="flyoutLInk" appMyhover><a routerLink="products" routerLinkActive="active" data="skin">skin care</a>
                  <!--START FLYOUT-->
                  <div class="row hidden-xs hidden-sm noPad">
                    <div class="col-xs-12 skinFlyout flyouts">
                      <div class="container">
                        <div class="row noPad">
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">CATEGORIES</h4>
                            <ul>
                              <li><a href="/profile_Cleansers+and+Exfoliators_503724.htm" data="skin">Cleansers & Exfoliators</a></li>
                              <li><a href="/profile_Dermatologist+Approved_501453.htm" data="skin">Dermatologist Approved</a></li>
                              <li><a href="/profile_Eye+Care_504752.htm" data="skin">Eye Care</a></li>
                              <li><a href="/profile_Face+Mask_300028.htm" data="skin">Face Mask</a></li>
                              <li><a href="/profile_Skin+Care+Kits+and+Value+Sets_500295.htm" data="skin">Kits & Sets</a></li>
                              <li><a href="/profile_Moisturizers_300082.htm" data="skin">Moisturizers</a></li>
                              <li><a href="/profile_Natural_501278.htm" data="skin">Natural Skin Care</a></li>
                              <li><a href="/profile_Face+Sun+Care_501201.htm" data="skin">Sun Care</a></li>
                              <li><a href="/profile_Professional+Tools+and+Devices_501335.htm" data="skin">Tools & Devices</a></li>
                              <li><a href="/profile_Treatments+and+Serums_500918.htm" data="skin">Treatments & Serums</a></li>
                              <li><a href="/profile_Skin+Care_500014.htm" data="skin" class="subnav_allbrLink">View All</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">SHOP BY CONCERN</h4>
                            <ul>
                              <li><a href="/profile_Acne_400072.htm" data="skin">Acne</a></li>
                              <li><a href="/profile_Aging+Skin_300045.htm" data="skin">Aging Skin</a></li>
                              <li><a href="/profile_Crows+Feet_503767.htm" data="skin">Crow's Feet</a></li>
                              <li><a href="/profile_Hyperpigmentation_400002.htm" data="skin">Dark Spots</a></li>
                              <li><a href="/profile_Dryness+and+Dehydration_503759.htm" data="skin">Dryness</a></li>
                              <li><a href="/profile_Large+Pores_500321.htm" data="skin">Large Pores</a></li>
                              <li><a href="/profile_Loss+of+Firmness_500822.htm" data="skin">Loss of Firmness</a></li>
                              <li><a href="/all_Concerns_400.htm" data="skin" class="subnav_allbrLink">View All</a></li>
                              <br>
                              <h4 class="subnav_headline">SHOP BY</h4>
                              <li><a href="/list_checkbox.php?attributes=500014&filter%5B%5D=500014&filter%5B%5D=&sort=new" data="skin">New Arrivals</a></li>
                              <li><a href="/list_checkbox.php?attributes=501453&filter%5B%5D=501453&filter%5B%5D=&sort=toprated" data="skin">Top Rated</a></li>
                            </ul>
                          </div>
                          <!-- .col -->
                          <div class="col-md-6 text-center">
                            <h4>BLOG</h4>
                            <ul>
                              <li>
                                <a href="/blog/how-to-get-smooth-skin/"><img src="//media.dermstore.com/images/navigation/skincare-nav-template.jpg" class="img-responsive center-block">
                                  <p class="subnav_blogtext text-center">8 Dermatologist-Recommended Tips For Smoother Skin</p></a>
                              </li>
                            </ul>
                          </div>
                          <!-- .col -->
                        </div><!-- row -->
                      </div> <!-- container -->
                    </div>
                  </div>
                  <!--END FLYOUT-->
                </li>

                <li id="navPS" class="flyoutLInk" appMyhover><a href="/profile_Makeup_300114.htm" data="makeup">makeup</a>
                  <!--START FLYOUT-->
                  <div class="row hidden-xs hidden-sm noPad">
                    <div class="col-xs-12 skinFlyout flyouts">
                      <div class="container">
                        <div class="row noPad">
                          <div class="col-md-3 subnav_section">
                            <a href="/profile_Face+Makeup_501205.htm"><h4 class="subnav_headline">FACE</h4></a>
                            <ul>
                              <li><a href="/profile_Foundation_300125.htm" data="makeup">Foundation</a></li>
                              <li><a href="/profile_BB+CC+Creams_502787.htm" data="makeup">BB & CC Creams</a></li>
                              <li><a href="/profile_Face+Concealer_300021.htm" data="makeup">Concealer</a></li>
                              <li><a href="/profile_Blush_501207.htm" data="makeup">Blush</a></li>
                              <li><a href="/profile_Face+Highlighters+Contouring_500854.htm" data="makeup">Highlighters &amp; Contouring</a></li>
                              <li><a href="/profile_Face+Primer_500585.htm" data="makeup">Primer</a></li>
                              <li><a href="/profile_Face+Palettes_502078.htm" data="makeup">Face Palettes</a></li>
                              <li><a href="/profile_Setting+Spray+Powder_501327.htm" data="makeup">Setting Spray & Powders</a></li>
                              <li><a href="/profile_Makeup+Remover_300049.htm" data="makeup">Makeup Remover</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3 subnav_section">
                            <a href="/profile_Eye+Makeup_503726.htm"><h4 class="subnav_headline">EYES</h4></a>
                            <ul>
                              <li><a href="/profile_Eyeshadow_300126.htm" data="makeup">Eyeshadow</a></li>
                              <li><a href="/profile_Eye+Palettes_502079.htm" data="makeup">Eye Palettes</a></li>
                              <li><a href="/profile_Mascara_300132.htm" data="makeup">Mascara</a></li>
                              <li><a href="/profile_Eyebrow+Makeup_300128.htm" data="makeup">Eyebrow Makeup</a></li>
                              <li><a href="/profile_Lash+Brow+Enhancers_501206.htm" data="makeup">Lash & Brow Enhancer</a></li>
                              <li><a href="/profile_Eye+Primer_504354.htm" data="makeup">Eye Primer</a></li>
                              <li><a href="/profile_False+Lashes_501413.htm" data="makeup">False Lashes</a></li>
                            </ul>
                          </div>
                          <!-- .col -->
                          <div class="col-md-3 subnav_section">
                            <a href="/profile_Lip+Makeup_500831.htm"><h4 class="subnav_headline">LIPS</h4></a>
                            <ul>
                              <li><a href="/profile_Lipstick_300124.htm" data="makeup">Lipstick</a></li>
                              <li><a href="/profile_Liquid+Lipstick_504829.htm" data="makeup">Liquid Lipstick</a></li>
                              <li><a href="/profile_Lip+Glosses+Stains_500031.htm" data="makeup">Lip Gloss & Stains</a></li>
                              <li><a href="/profile_Lip+Balms+Treatments_500830.htm" data="makeup">Lip Balms & Treatments</a></li>
                              <br>
                              <h4 class="subnav_headline">MORE</h4>
                              <li><a href="/list_checkbox.php?attributes=300114&ipp=48&sort=new" data="skin">New Arrivals</a></li>
                              <li><a href="/profile_Cosmetic+Tools_500330.htm" data="skin">Tools & Brushes</a></li>
                              <li><a href="/profile_Nail+Care+and+Color_503754.htm" data="skin">Nails</a></li>
                              <li><a href="/profile_Makeup+Sets+Kits_500834.htm" data="skin">Sets & Kits</a></li>
                              <li><a href="/profile_Makeup_300114.htm" data="makeup" class="subnav_allbrLink">View All</a></li>
                            </ul>
                          </div>
                          <!-- .col -->
                          <div class="col-md-3">
                            <ul>
                              <!--<li><a href="/profile_Makeup_300114.htm" class="btn btn-lg btn-dermstore" >ALL MAKEUP</a></li> -->
                              <li><a href="/blog/top_ten/melt-proof-makeup-for-summer/"><img src="//media.dermstore.com/images/navigation/makeup-top-nav2.jpg" alt="10 Best Foundations for Oily or Acne-Prone Skin"class="img-responsive center-block">
                              </a>
                              </li>
                            </ul>
                          </div>
                          <!-- .col -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--END FLYOUT-->
                </li>
                <li id="navPS" class="flyoutLInk" appMyhover><a href="/profile_Hair+Care_300024.htm" data="hair">hair care</a><!--START FLYOUT-->
                  <div class="row hidden-xs hidden-sm noPad">
                    <div class="col-xs-12 skinFlyout flyouts">
                      <div class="container">
                        <div class="row noPad">
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">CATEGORIES</h4>
                            <ul>
                              <li><a href="/profile_Shampoo_300056.htm" data="hair">Shampoo</a></li>
                              <li><a href="/profile_Dry+Shampoo_500843.htm" data="hair">Dry Shampoo</a></li>
                              <li><a href="/profile_Conditioner_300076.htm" data="hair">Conditioner</a></li>
                              <li><a href="/profile_Hair+Loss+and+Thinning+Hair_500926.htm" data="hair">Hair Loss Products</a></li>
                              <li><a href="/profile_Hair+Treatments_503728.htm" data="hair">Hair Treatments</a></li>
                              <li><a href="/profile_Styling+Tools_500840.htm" data="hair">Tools &amp; Brushes</a></li>
                              <li><a href="/profile_Styling+Products_502156.htm" data="hair">Styling Products</a></li>
                              <li><a href="/list_300024-501278.htm" data="hair">Natural Hair Care</a></li>
                              <li><a href="/profile_Hair+Care+Kits+and+Value+Sets_502018.htm" data="hair">Kits & Sets</a></li>
                              <li><a href="/profile_Hair+Care_300024.htm" data="hair" class="subnav_allbrLink">View All</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">SHOP BY HAIR TYPE</h4>
                            <ul>
                              <li><a href="/profile_Coarse+Hair_500646.htm" data="hair">Coarse</a></li>
                              <li><a href="/profile_Colored+Hair_500614.htm" data="hair">Colored</a></li>
                              <li><a href="/profile_Curly+Hair_500889.htm" data="hair">Curly</a></li>
                              <li><a href="/profile_Dry+Hair_500613.htm" data="hair"imai>Dry</a></li>
                              <li><a href="/profile_Fine+Hair_500616.htm" data="hair">Fine</a></li>
                              <li><a href="/profile_Normal+Hair_500644.htm" data="hair">Normal</a></li>
                              <li><a href="/profile_Oily+Hair_500612.htm" data="hair">Oily</a></li>
                              <br>
                              <h4 class="subnav_headline">MORE</h4>
                              <li><a href="/list_checkbox.php?attributes=300024&ipp=48&sort=new" data="hair">New Arrivals</a></li>
                              <li><a href="/list_checkbox.php?attributes=300024&filter%5b%5d=300024&filter%5b%5d=&sort=toprated" data="hair">Top Rated</a></li>
                              <li><a href="/profile_Travel+Size_500269.htm" data="hair">Travel Size</a></li>
                            </ul>
                          </div>
                          <!-- .col -->
                          <div class="col-md-6 text-center">
                            <h4>BLOG</h4>
                            <ul>
                              <li>
                                <a href="/blog/top_ten/protect-hair-summer-heat/"><img src="//media.dermstore.com/images/navigation/hair-nav-template.jpg" class="img-responsive center-block">
                                  <p class="subnav_blogtext text-center">7 Ways to Protect Your Hair This Summer, According to Hair Experts</p></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--END FLYOUT-->
                </li>

                <li id="navPS" class="flyoutLInk" appMyhover><a href="/profile_Bath+and+Body_300019.htm" data="bath">bath & body</a>
                  <!--START FLYOUT-->
                  <div class="row hidden-xs hidden-sm noPad">
                    <div class="col-xs-12 skinFlyout flyouts">
                      <div class="container">
                        <div class="row noPad">
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">CATEGORIES</h4>
                            <ul>
                              <li><a href="/profile_Baby+and+Mom_501883.htm" data="bath">Baby & Mom</a></li>
                              <li><a href="/profile_Bath+and+Shower_503722.htm" data="bath">Bath & Shower</a></li>
                              <li><a href="/profile_Lotions+and+Oils_501454.htm" data="bath">Lotions & Oils</a></li>
                              <li><a href="/profile_Body+Treatments_500953.htm" data="bath">Body Treatments</a></li>
                              <li><a href="/profile_Body+Sun+Care_500226.htm" data="bath">Body Sun Care</a></li>
                              <li><a href="/profile_Fragrance_300136.htm" data="bath">Fragrance</a></li>
                              <li><a href="/profile_Hands+and+Feet_500296.htm" data="bath">Hands & Feet</a></li>
                              <li><a href="/profile_Beauty+Supplements+and+Wellness_503448.htm" data="bath">Supplements &amp; Wellness</a></li>
                              <li><a href="/profile_Body+Kits+and+Value+Sets_500152.htm" data="bath">Kits & Sets</a></li>
                              <li><a href="/profile_Bath+and+Body_300019.htm" data="bath" class="subnav_allbrLink">View All</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">PERSONAL CARE</h4>
                            <ul>
                              <li><a href="/profile_Deodorant_300120.htm" data="bath">Deodorant</a></li>
                              <li><a href="/profile_Hair+Removal_300027.htm" data="bath">Hair Removal</a></li>
                              <li><a href="/profile_Oral+Care_501722.htm" data="bath">Oral Care</a></li>
                              <br>
                              <h4 class="subnav_headline">SHOP BY CONCERN</h4>
                              <li><a href="/profile_Cellulite_400016.htm" data="bath">Cellulite</a></li>
                              <li><a href="/profile_Eczema_400027.htm" data="bath">Eczema</a></li>
                              <li><a href="/profile_Razor+Bumps_501393.htm" data="bath">Razor Bumps</a></li>
                              <li><a href="/profile_Stretch+Marks_400065.htm" data="bath">Stretch Marks</a></li>
                              <li><a href="/all_Concerns_400.htm" data="bath" class="subnav_allbrLink">View All</a></li>
                            </ul>
                          </div>
                          <!-- .col -->
                          <div class="col-md-6 text-center">
                            <h4>BLOG</h4>
                            <ul>
                              <li>
                                <a href="/blog/top_ten/best-cellulite-body-firming-creams/"><img src="//media.dermstore.com/images/navigation/bath-nav-template.jpg" class="img-responsive center-block">
                                  <p class="subnav_blogtext text-center">We Put These 5 Body-Firming Creams to the Test - Here Are the Results</p></a>
                              </li>
                            </ul>
                          </div>
                          <!-- .col -->
                        </div>
                      </div>
                    </div>
                  </div><!--END FLYOUT-->
                </li>
                <li id="navPS" class="flyoutLInk" appMyhover><a href="/profile_Natural_501278.htm" class="dropdown-toggle" data="natural">natural</a>
                  <div class="row hidden-xs hidden-sm noPad">
                    <div class="col-xs-12 skinFlyout flyouts">
                      <div class="container">
                        <div class="row noPad">
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">NOW TRENDING</h4>
                            <ul id="ulContainer">
                              <li><a href="/profile_100+Pure_501667.htm" data="natural">100% Pure</a></li>
                              <li><a href="/profile_Drunk+Elephant_503245.htm" data="natural">Drunk Elephant</a></li>
                              <li><a href="/profile_Eminence_500221.htm" data="natural">Eminence</a></li>
                              <li><a href="/profile_Herbivore+Botanicals_504214.htm" data="natural">Herbivore</a></li>
                              <li><a href="/profile_Juice+Beauty_500174.htm" data="natural">Juice Beauty</a></li>
                              <li><a href="/profile_Korres_504350.htm" data="natural">Korres</a></li>
                              <li><a href="/profile_Luzern+Laboratories_500893.htm" data="natural">Luzern</a></li>
                              <li><a href="/profile_This+Works_504269.htm" data="natural">This Works</a></li>
                              <li><a href="/profile_Ursa+Major_504322.htm" data="natural">Ursa Major</a></li>
                              <li><a href="/profile_Youth+to+the+People_504294.htm" data="natural">Youth to the People</a></li>
                              <li><a href="/list_checkbox.php?attributes=501278&ipp=48&sort=new" data="natural">New Arrivals</a></li>
                            </ul>
                          </div><!--subnav-->
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline"><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=500014&filter%5B%5D=501278&attributes=500014">SKIN CARE</a></h4>
                            <ul id="ulContainer">
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=503724&filter%5B%5D=501278&attributes=503724" data="natural">Cleansers &amp; Exfoliators</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=500918&filter%5B%5D=501278&attributes=500918" data="natural">Serums</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=300082&filter%5B%5D=501278&attributes=300082" data="natural">Moisturizers</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=501201&filter%5B%5D=501278&attributes=501201&attributes=501201" data="natural">Face Sun Care</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=500295&filter%5B%5D=501278&attributes=500295" data="natural">Skin Care Kits</a></li>
                              <br>
                              <h4 class="subnav_headline"><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=300019&filter%5B%5D=501278&attributes=300019" data="natural">BATH AND BODY</a></h4>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=501883&filter%5B%5D=501278&attributes=501883" data="natural">Baby &amp; Mom</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=503722&filter%5B%5D=501278&attributes=503722" data="natural">Bath &amp; Shower</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=501454&filter%5B%5D=501278&attributes=501454" data="natural">Lotions &amp; Oils</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=300136&filter%5B%5D=501278&attributes=300136" data="natural">Fragrance</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=503448&filter%5B%5D=501278&attributes=503448" data="natural">Supplements &amp; Wellness</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline"><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=501278&filter%5B%5D=300114&attributes=501278">MAKEUP</a></h4>
                            <ul id="ulContainer">
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=501205&filter%5B%5D=501278&attributes=501205" data="natural">Face Makeup</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=503726&filter%5B%5D=501278&attributes=503726" data="natural">Eye Makeup</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=500831&filter%5B%5D=501278&attributes=500831" data="natural">Lip Makeup</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=500834&filter%5B%5D=501278&attributes=500834" data="natural">Makeup Sets & Kits</a></li>
                              <br>
                              <h4 class="subnav_headline"><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=300024&filter%5B%5D=501278&attributes=300024">HAIR CARE</a></h4>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=300056&filter%5B%5D=501278&attributes=300056" data="natural">Shampoo</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=300076&filter%5B%5D=501278&attributes=300076" data="natural">Conditioner</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=503728&filter%5B%5D=501278&attributes=503728" data="natural">Hair Treatments</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=502156&filter%5B%5D=501278&attributes=502156" data="natural">Styling Products</a></li>
                              <li><a href="/list_checkbox.php?lkey=&filtered=&ipp=&page=0&price=&filter%5B%5D=502018&filter%5B%5D=501278&attributes=502018" data="natural">Hair Care Kits</a></li>
                            </ul>
                          </div><!--subnav-->
                          <div class="col-md-3">
                            <h4 align="center">BLOG</h4>
                            <ul>
                              <li>
                                <a href="/blog/top_ten/natural-sunscreen-alternatives/" data-content=""><img src="//media.dermstore.com/images/navigation/natural-top-nav.jpg" class="img-responsive"></a>
                              </li>
                            </ul>
                          </div>
                        </div><!-- .row -->
                      </div>
                    </div><!-- .col -->
                  </div>
                </li>
                <li id="navPS" class="flyoutLInk" appMyhover><a href="/profile_Men_504313.htm" data="men">men</a><!--START FLYOUT-->
                  <div class="row hidden-xs hidden-sm noPad">
                    <div class="col-xs-12 skinFlyout flyouts">
                      <div class="container">
                        <div class="row noPad">
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">CATEGORIES</h4>
                            <ul>
                              <li><a href="/profile_Mens+Shaving+and+Grooming_504314.htm" data="men">Shaving &amp; Grooming</a></li>
                              <li><a href="/profile_Mens+Moisturizers+and+Treatments_504316.htm" data="men">Moisturizers &amp; Treatments</a></li>
                              <li><a href="/profile_Mens+Cleansers+and+Exfoliators_504315.htm" data="men">Cleansers & Exfoliators</a></li>
                              <li><a href="/profile_Mens+Hair+Products_504318.htm" data="men">Hair Products</a></li>
                              <li><a href="/profile_Mens+Body+Care_504319.htm" data="men">Body Care</a></li>
                              <li><a href="/profile_Mens+Kits+and+Value+Sets_504320.htm" data="men">Kits & Sets</a></li>
                              <li><a href="/profile_Men_504313.htm" data="men" class="subnav_allbrLink">View All</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">SHOP BY CONCERN</h4>
                            <ul>
                              <li><a href="/profile_Acne_400072.htm" data="men">Acne</a></li>
                              <li><a href="/profile_Aging+Skin_300045.htm" data="men">Aging Skin</a></li>
                              <li><a href="/profile_Hypersensitive+Skin_400081.htm" data="men">Hypersensitive Skin</a></li>
                              <li><a href="/profile_Hair+Loss+and+Thinning+Hair_500926.htm" data="men">Hair Loss &amp; Thinning Hair</a></li>
                              <li><a href="/profile_Ingrown+Hairs_501396.htm" data="men">Ingrown Hairs</a></li>
                              <li><a href="/profile_Razor+Bumps_501393.htm" data="men">Razor Bumps</a></li>
                              <li><a href="/profile_Scars_500215.htm" data="men">Scars</a></li>
                              <li><a href="/all_Concerns_400.htm" data="men" class="subnav_allbrLink">View All</a></li>
                            </ul>
                          </div>
                          <!-- .col -->
                          <div class="col-md-6 center-block text-center navContent">
                            <h4>BLOG</h4>
                            <ul>
                              <li>
                                <a href="/blog/top_ten/self-care-and-beauty-tips-for-men/"><img src="//media.dermstore.com/images/navigation/men-nav-template.jpg" class="img-responsive blog_area center-block">
                                  <p class="subnav_blogtext text-center">Self-Care Tips for Men: What My Father Taught Me About Skin Care and More</p></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--END FLYOUT-->
                </li>
                <li id="navPS" class="flyoutLInk" appMyhover><a href="/profile_Sale_504310.htm" class="dropdown-toggle" data="sale">specials</a>
                  <div class="row hidden-xs hidden-sm noPad">
                    <div class="col-xs-12 skinFlyout flyouts">
                      <div class="container">
                        <div class="row noPad">
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">SPECIALS</h4>
                            <ul id="ulContainer">
                              <li><a href="/profile_Sale_504310.htm" data="sale">Sale</a></li>
                              <li><a href="/list_sortgift.htm" data="sale">Gifts with Purchase</a></li>
                              <li><a href="/beautyfix.php" data="sale">BeautyFIX</a></li>
                              <li><a href="/profile_Limited-Time+Offers_501622.htm" data="sale">Limited-Time Offers</a></li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <ul>
                              <li>
                                <a href="/profile_Sale_504310.htm" data-content="sale-banner"><img src="//media.dermstore.com/images/navigation/topnav-banner1-sale.jpg" class="img-responsive"></a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <ul>
                              <li>
                                <a href="/list_sortgift.htm" data-content="sale-gwp-banner"><img src="//media.dermstore.com/images/navigation/topnav-banner2-gift.jpg" class="img-responsive"></a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <ul>
                              <li>
                                <a href="/beautyfix.php" data-content="sale-beautyfix-banner"><img src="//media.dermstore.com/images/navigation/topnav-banner-beautyfix.jpg" class="img-responsive"></a>
                              </li>
                            </ul>
                          </div>
                        </div><!-- .row -->
                      </div>
                    </div>
                    <!-- .col -->
                  </div>
                </li>


                <li id="navPS" class="flyoutLInk" appMyhover><a href="/blog/" class="dropdown-toggle" data="expert">blog</a>
                  <div class="row hidden-xs hidden-sm noPad">
                    <div class="col-xs-12 skinFlyout flyouts">
                      <div class="container">
                        <div class="row noPad">
                          <div class="col-md-3 subnav_section">
                            <h4 class="subnav_headline">EXPERT ADVICE</h4>
                            <ul id="ulContainer">
                              <li><a href="/skinhealthcenter/" data="expert">Skin Health Center</a></li>
                              <li><a href="/blog/" data="expert">Blog</a></li>
                              <li><a href="/blog/videos" data="expert">Videos</a></li>
                            </ul>
                            <h4 class="subnav_headline subnav_headline--reviews"><a href="/reviews.htm" data="reviews">REVIEWS</a></h4>
                          </div>
                          <div class="col-md-3">
                            <ul>
                              <li>
                                <a href="/skinhealthcenter/" data-content="expert-advice-skinhealth"><img src="//media.dermstore.com/images/navigation/topnav-banner-skinhealthcare.jpg" class="img-responsive"></a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <ul>
                              <li>
                                <a href="/blog/" data-content="expert-advice-blog"><img src="//media.dermstore.com/images/navigation/topnav-blog-new.jpg" class="img-responsive"></a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                            <ul>
                              <li>
                                <a href="/blog/videos" data-content="expert-advice-videos"><img src="//media.dermstore.com/images/navigation/topnav-banner-watchlearnplay.jpg" class="img-responsive"></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- .row -->
                      </div>
                    </div>
                    <!-- .col -->
                  </div>
                </li>
                <li id="navPS" class="flyoutLInk" appMyhover><a href="/skymd/online-dermatologist-consultation" class="dropdown-toggle" data="Ask a Dermatologist">ask a derm</a>
                </li>
              </ul>
            </nav>

            <!-- Google Tag Manager -->
            <script>
              $('.flyoutLInk > a').on('click', function(e) {
                var gtm_data_obj = {
                  'event': 'eventHandlerFire',
                  'eventCategory': 'Navigation',
                  'eventAction': 'Top Nav Flyout',
                  'eventLabel': $(this).attr('data')
                };
                dataLayer.push(gtm_data_obj)
              });
              $('.stat-nav').on('click', 'a', function () {
                var navText;
                var par = $(this);
                if (par.parents('.simpleDropdown').length > 0) {
                  if (par.parents('.simpleDropdown').children('a').text() != $(this).text()) {
                    dataLayer.push({
                      'event': 'eventHandlerFire',
                      'eventCategory': 'Navigation',
                      'eventAction': 'Top Nav Flyout',
                      'eventLabel': par.parents('.simpleDropdown').children('a').text() + " > " + $(this).text()
                    });
                  }
                }
                else {
                  if (par.parents('.flyoutLInk').children('a').text() != $(this).text() && $(this).attr('data-content') != undefined) {
                    dataLayer.push({
                      'event': 'eventHandlerFire',
                      'eventCategory': 'Navigation',
                      'eventAction': 'Top Nav Flyout',
                      'eventLabel': navText = par.parents('.flyoutLInk').children('a').text() + " > " + $(this).text() + $(this).attr('data-content')
                    });
                  }

                  else if (par.parents('.flyoutLInk').children('a').text() != $(this).text() && $(this).attr('data-content') == undefined) {
                    dataLayer.push({
                      'event': 'eventHandlerFire',
                      'eventCategory': 'Navigation',
                      'eventAction': 'Top Nav Flyout',
                      'eventLabel': navText = par.parents('.flyoutLInk').children('a').text() + " > " + $(this).text()
                    });
                  }
                }
              });
            </script>

            <!--test-->
          </div>
        </div><!--.row-->
      </div><!--.container-->
    </div><!--#header-nav-->
    <div class="maindivider"></div>

</div>
