#fea-photo.coming-soon {
  position: relative !important;
  /*positions absolute kids to parent coords*/
}
#fea-photo.coming-soon:after {
  content: 'Coming\ASoon!'; /*where \A is a newline char*/

  position: absolute;
  top: 7%; left: 7%; /*from first pos:rel parent*/

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;

  width: 100px;
  height: 100px;

  white-space: pre-wrap;
  line-height: 1.1 !important;

  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  color: #333;
  background: rgba(255,255,255,.9);
  border: 4px solid #262626;
  border-radius: 100%;
  box-shadow: -1px 1px  10px -1px rgba(0,0,0,.25),
  0 0 0 2px rgba(255,255,255,1);
  box-sizing: border-box;
}
