
<div id="prod-page" *ngIf="product">
  <!-- breadcrumbs -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a routerLink="/products">All Products</a></li>
          <li>{{ product.name }}</li>
        </ol>
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->

  <div class="container">
    <div class="row pad">
      <!-- product media & overview-->
      <div class="col-sm-6">
        <div id="prod-media">
          <div id="fea-photo">
            <style>
            </style>
            <img id="fea-photo-img" itemprop="image" src={{product.image}} data-zoom-image="https://media.dermstore.com/catalog/100113/800x800/5230.jpg" alt="SkinCeuticals C E Ferulic" class="active img-responsive">
          </div>



        </div><!-- #prod-media -->

        <div id="social-share">

          <!-- Share BEGIN -->

          <div class="addthis_toolbox addthis_default_style clearfix">


            <div class="clear"></div>


            <a href="https://twitter.com/share" class="sicon sicon-twitter" data-lang="en" target="_blank" data-count="none">
              <img src="https://media.dermstore.com/images/default/share-twitter.png" width="16" height="16"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


            <div class="sicon sicon-pinterest">
              <span class="PIN_1506537613063_button_pin" data-pin-log="button_pinit_bookmarklet" data-pin-href="https://www.pinterest.com/pin/create/button/"></span>
            </div><!--sicon-pinterest-->



            <!-- facebook like standalone http://www.dermstore.com/product_C+E+Ferulic_5230.htm -->
            <div class="fb-like sicon sicon-fblike fb_iframe_widget" data-layout="button_count" data-send="false" data-href="http://www.dermstore.com/product_C+E+Ferulic_5230.htm" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=394586223946879;container_width=345;href=http%3A%2F%2Fwww.dermstore.com%2Fproduct_C%2BE%2BFerulic_5230.htm;layout=button_count;locale=en_US;sdk=joey;send=false"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f3f757f24c82628" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.6/plugins/like.php?app_id=394586223946879;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F5oivrH7Newv.js%3Fversion%3D42%23cb%3Df2c181bd7c2a66c%26domain%3Dwww.dermstore.com%26origin%3Dhttps%253A%252F%252Fwww.dermstore.com%252Ff766b5f772e0b4%26relation%3Dparent.parent;container_width=345;href=http%3A%2F%2Fwww.dermstore.com%2Fproduct_C%2BE%2BFerulic_5230.htm;layout=button_count;locale=en_US;sdk=joey;send=false" style="border: none; visibility: visible; width: 0px; height: 0px;"></iframe></span></div>
            <!--end facebook like standalone-->


            <!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>

            <!-- wanelo standalone -->

            <!--end wanelo standalone-->

          </div><!--end addthis-->

        </div><!-- #social-share -->
      </div><!-- .col -->

      <!-- product options, pricing & promos -->
      <div class="col-sm-6">
        <div id="prod-info" itemscope="" itemtype="http://schema.org/Product">
          <div class="authorized-seller pull-right"></div>
          <h2 class="brand" itemprop="brand"><a href="/profile_100113.htm">{{product.title}}</a></h2>
          <h1 class="prod-name" itemprop="name">{{product.volumn}}</h1>
          <p itemprop="description">
            {{product.description}}
            <a id="more_details_pdp" href="#headingDetails" class="goTo-anchor" data-highlight-parent=".panel" style="cursor:pointer;display:block;color:#079cb4;"><small>More details...</small></a>
          </p>
          <meta itemprop="url" content="http://www.dermstore.com/product_C+E+Ferulic_5230.htm">

          <div class="prodMetaAct row">
            <!-- ratings -->
            <div class="col-sm-6 ratings" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
              <meta itemprop="itemReviewed" content="C E Ferulic">
              <meta itemprop="reviewCount" content="574">
              <meta itemprop="ratingValue" content="5">
              <a id="show_reviews_section" class="pointer goTo-anchor" href="#reviews">
                574 reviews <span class="starsBox star5"></span>
              </a>
              <span class="purchCount"><br>13570  Customers Purchased</span>
            </div><!-- .col -->

            <!-- favorite -->
            <div class="col-sm-6 favorite">
              <a title="Add to favorites" href="/account/favorites.php?prod_id=5230">
                <i class="fa fa-heart-o" aria-hidden="true"></i>Add to favorites
              </a>
            </div><!-- .col -->
          </div><!-- .row -->




          <!-- pricing -->
          <form action="/cart/save_1_view.php" style="margin-top:8px;" id="add_to_cart_form">
            <input type="hidden" name="csrf_token_ds_cart" value="85c90a60c3377045c51e4db7bc990bf0">
            <input type="hidden" name="prod_id" value="5230">
            <div id="pricing" itemscope="" itemtype="http://schema.org/Offer">
              <meta itemprop="price" content="165.00">
              <p></p>
              <p><b><small class="brLbl">Price </small>${{product.price}}</b></p>
              <p></p>

              <!--|
&nbsp;NEW PRICING &
&nbsp;AUTOREFILL UI
&nbsp;|-->
              <p>
                <label class="quantity">Quantity</label>
                <span class="custom-dropdown custom-dropdown--white" id="qtyDropdown">
                  <select id="qtySelect" class="custom-dropdown__select custom-dropdown__select--white"
                    style="background-color:transparent" name="Q_5230" >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                  </select>
                </span>
                <button type="button" class="cart btn btn-default btn-blue" (click)="onAddToCart(product)"><img src="../assets/cart_primary.svg" >Add to Cart</button>
              </p>

              <!-- test start -->
              <div class="row">
                <div class="col-xs-12">
                  <p class="rewTxt free-shipping"><span>Free Shipping ; Easy Returns.</span> <a href="/content/content.php?content=shipping" class="free-shipping__details" title="Rewards Details">Details <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <p class="rewTxt"><b>Earn 5%</b> Back in Rewards. <a href="/content/content.php?content=rewards" title="Rewards Details" target="_blank">Details <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                </div>
              </div>
              <!-- test end -->

              <div class="clearfix"></div>
            </div><!-- #pricing -->
          </form>
          <!-- gift with purchase -->
          <div class="media prod-panel free-gift">
            <div class="media-left pull-left">
              <a href="/product_Gift+With+Purchase++C+E+Ferulic_72075.htm"><img src="https://media.dermstore.com/catalog/100113/150x150/72075.jpg" alt="Free Gift" width="105" height="105" class="media-object img-responsive"></a>
            </div><!-- .media-left -->
            <div class="media-body">
              <h4 class="media-heading">Gift with Purchase</h4>
              <p>SkinCeuticals C E Ferulic ($22 Value) with any $125 purchase.<br><br>Adds at checkout. While supplies last.</p>
            </div><!-- .media-body -->
          </div><!-- .media.prod-panel.free-gift -->

          <!-- part of kit -->
          <div class="media prod-panel kit">
            <div class="media-left pull-left">
              <a href="/product_AntiAging+System_38328.htm"><img src="https://media.dermstore.com/catalog/100113/150x150/38328.jpg" alt="Free Gift" width="105" height="105" class="media-object img-responsive"></a>
            </div><!-- .media-left -->
            <div class="media-body">
              <h4 class="media-heading">This item is included in a kit</h4>
              <p><b><a href="/product_AntiAging+System_38328.htm" title="Link to Kit">SkinCeuticals</a></b></p>
              <p><a href="/product_AntiAging+System_38328.htm" title="Link to Kit">Anti-Aging System</a></p>
            </div><!-- .media-body -->
          </div><!-- .media.prod-panel.kit -->

        </div><!-- #prod-info -->

      </div><!-- .col -->
    </div><!-- .row -->


    <div class="row pad">
      <!-- product details -->
      <div class="col-sm-6">
        <div class="panel-group" role="tablist" id="accordionDetails" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingDetails">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionDetails" href="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails" class="collapse in">Product Details</a></h4>
            </div><!-- .panel-heading -->
            <div id="collapseDetails" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingDetails">
              <div class="panel-body">
                <p>
                </p><p>SkinCeuticals C E Ferulic features a synergistic antioxidant combination of ferulic acid and pure vitamin C and E to enhance your skin's protection against environmental damage caused by free radicals. This SkinCeuticals vitamin C serum helps neutralize free radicals induced by UVA/UVB, infrared radiation (IRA) and ozone pollution (O3). In addition to antioxidant protective benefits, C E Ferulic improves signs of aging and photodamage to reduce the appearance of lines and wrinkles while firming and brightening your complexion. <br><br> <b>Key Benefits:</b></p>
                <ul>
                  <li>15% pure vitamin C (L-ascorbic acid) provides visible anti-aging benefits, brightens skin and helps protect against oxidative stress</li>
                  <li>1% vitamin E (alpha tocopherol) neutralizes free radicals and replenishes lipids</li>
                  <li>0.5% ferulic acid enhances the antioxidant benefits of vitamins C and E</li>
                  <li>Shows improvement in the appearance of lines and wrinkles, loss of firmness and brightening your complexion</li>
                  <li>This vitamin C serum remains effective for a minimum of 72 hours</li>
                  <li>Evens skin tone and diminishes discoloration</li>
                </ul>
                <p><br> <em><b>Please note:</b> L-ascorbic acid may discolor with time, but oxidation is minimal and the formulation is proven to remain effective. All SkinCeuticals antioxidant formulations have been tested in final packaging and have been confirmed to remain stable and effective for 36 months, and up to 6 months after opening.</em></p>
                <p></p>
                <p>
                  <img src="https://media.dermstore.com/catalog/100113/brand_logo.jpg" alt="SkinCeuticals" class="brand-thumb pull-left img-responsive">
                  <span>Quality skin care backed by dermatological science.<br><a href="/profile_SkinCeuticals_100113.htm" class="more-link">Brand details <i class="fa fa-chevron-right" style="vertical-align:-1px;"></i></a></span>
                </p>
              </div><!-- .panel-body -->
            </div><!-- .panel-collapse -->
          </div><!-- .panel -->
        </div><!-- .panel-group -->
      </div><!-- .col -->

      <div class="col-sm-6">
        <div class="panel-group" role="tablist" id="accordionInfo" aria-multiselectable="true">
          <!-- At a Glance -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingGlance">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionInfo" href="#collapseGlance" aria-expanded="false" aria-controls="collapseGlance" class="collapse in">At a Glance</a></h4>
            </div><!-- .panel-heading -->
            <div id="collapseGlance" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingGlance">
              <div class="panel-body">
                <p></p><div class="prd"><span class="prdh">Ideal for these Concerns: </span><a href="/profile_Aging+Skin_300045.htm">Aging Skin</a>,
                <a href="/profile_Sun+Damage_500916.htm">Sun Damage</a>,
                <a href="/profile_Free+Radical+Damage_500323.htm">Free Radical Damage</a>,
                <a href="/profile_Hyperpigmentation_400002.htm">Hyperpigmentation</a>
              </div>
                <div class="prd"><span class="prdh">Ideal for these Skin Types: </span><a href="/profile_Mature+Skin_500258.htm">Mature Skin</a>,
                  <a href="/profile_Sensitive+Skin_500009.htm">Sensitive Skin</a>,
                  <a href="/profile_Normal+Skin_500004.htm">Normal Skin</a>,
                  <a href="/profile_Dry+Skin_500002.htm">Dry Skin</a>
                </div>
                <div class="prd"><span class="prdh">Aging Skin: </span><a href="/profile_Loss+of+Firmness_500822.htm">Loss of Firmness</a>,
                  <a href="/profile_Fine+Lines+and+Wrinkles_400057.htm">Fine Lines and Wrinkles</a>
                </div>
                <div class="prd"><span class="prdh">Moisturizers: </span><a href="/profile_Face+Oil_502302.htm">Face Oil</a>
                </div>
                <div class="prd"><span class="prdh">Ingredient: </span><a href="/profile_Antioxidants_300131.htm">Antioxidants</a>,
                  <a href="/profile_Hyaluronic+Acid_500277.htm">Hyaluronic Acid</a>,
                  <a href="/profile_Vitamin+E_500046.htm">Vitamin E</a>,
                  <a href="/profile_Vitamin+C_300098.htm">Vitamin C</a>
                </div>
                <div class="prd"><span class="prdh">Skin Care: </span><a href="/profile_Treatments+and+Serums_500918.htm">Treatments and Serums</a>
                </div>
                <div class="prd"><span class="prdh">Application Area: </span><a href="/profile_Neck_500313.htm">Neck</a>,
                  <a href="/profile_Face_500121.htm">Face</a>,
                  <a href="/profile_Decollete_500760.htm">Decollete</a>
                </div>
                <div class="prd"><span class="prdh">Treatments and Serums: </span><a href="/profile_Face+Serum_500048.htm">Face Serum</a>
                </div>
                <p></p>
              </div><!-- .panel-body -->
            </div><!-- .panel-collapse -->
          </div><!-- .panel -->
          <!-- How To Use -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingHowTo">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionInfo" href="#collapseHowTo" aria-expanded="false" aria-controls="collapseHowTo" class="collapse in collapsed">How to Use</a></h4>
            </div><!-- .panel-heading -->
            <div id="collapseHowTo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingHowTo">
              <div class="panel-body">
                <p>Apply once a day in the morning, after cleansing and toning skin. Apply 4-5 drops to a dry face, neck and chest before your other anti-aging skin care products.</p>
              </div><!-- .panel-body -->
            </div><!-- .panel-collapse -->
          </div><!-- .panel -->

          <!-- Ingredients -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingIngredients">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordionInfo" href="#collapseIngredients" aria-expanded="false" aria-controls="collapseIngredients" class="collapse in collapsed">Ingredients</a></h4>
            </div><!-- .panel-heading -->
            <div id="collapseIngredients" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingIngredients">
              <div class="panel-body">
                <p> Water, Ethoxydiglycol, Ascorbic Acid, Glycerin, Propylene Glycol, Laureth-23, Phenoxyethanol, Tocopherol, Triethanolamine, Ferulic Acid, <a href="/profile_Panthenol_502241.htm">Panthenol</a>, Sodium Hyaluronate.</p>
              </div><!-- .panel-body -->
            </div><!-- .panel-collapse -->
          </div><!-- .panel -->

        </div><!-- .panel-group -->
      </div><!-- .col -->
    </div><!-- .row -->


    <!-- product recommendation -->

    <style>
      .dsrecs {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      #dermstore h4.slider-heading {
        margin: 0px;
      }
      #dermstore h4.slider-heading:before {
        content: "";
        border-top: 1px solid #b7b7b7;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 15px;
        z-index: -1;
      }
      #dermstore h4.slider-heading span {
        display: inline-block;
        margin: 0 auto;
        padding: 0 10px;
        text-align: center;
        background: #fff;
        text-transform: uppercase;
      }
      #dermstore #dermstore-new h4.slider-heading {
        font-family: 'Martel';
        text-align: center;
      }
      #dermstore #dermstore-new h4.slider-heading span {
        text-transform: none;
      }
      #prod-page .product-row h4 {
        margin-bottom: 20px;
      }
      .owl-item p {
        text-align: center;
        margin: 0px !important;
        color: #353535;
        font-size: 15px;
      }
      .ctaAlign {
        min-height: 130px;
      }
      .item-brand {
        padding-top: 20px;
      }
      @media (max-width: 767px) {
        #dermstore h4.slider-heading:before {
          width: 100%;
          left: 0 !important;
        }
        #similarProdOwl img {
          width: 100% !important;
        }
      }
      @media (max-width: 991px) {
        #dermstore h4.slider-heading:before {
          width: 100%;
        }
      }
      @media(min-width: 992px) {
        #dermstore h4.slider-heading:before {
          width: 940px;
        }
        #now-trending-carousel .owl-prev {
          display: none !important;
        }
        #now-trending-carousel .owl-next {
          display: none !important;
        }
      }
      @media (min-width: 1200px) {
        #dermstore h4.slider-heading:before {
          width: 970px;
        }
      }
    </style>

    <div id="now-trending-carousel" class="hp-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="slider-heading"><span class="">Customers Also Viewed</span></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 dsrecs">
            <div class="owl-now-trending owl-carousel owl-theme owl-responsive-900 owl-loaded">




              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 750px;"><div class="owl-item active" style="width: 157.5px; margin-right: 30px;"><div>
                <a href="/product_Hyaluronic+Acid+Intensifier_70312.htm" data-prodid="70312" title="Hyaluronic Acid Intensifier">
                  <img src="https://media.dermstore.com/catalog/100113/300x300/70312.jpg">
                </a><div class="iteminfo"><a href="/product_Hyaluronic+Acid+Intensifier_70312.htm" data-prodid="70312" title="Hyaluronic Acid Intensifier">
                <div class="ctaAlign">
                  <p class="item-brand"><b>SkinCeuticals</b></p>
                  <p class="item-name">Hyaluronic Acid Intensifier                                                                        <span> 30ml.</span></p>
                  <p class="item-price">
                    $98.00                                                                                                                                                </p>
                </div>
              </a><p class="item-action text-center"><a href="/product_Hyaluronic+Acid+Intensifier_70312.htm" data-prodid="70312" title="Hyaluronic Acid Intensifier">
              </a><a href="/cart/flip.php?prod_id=70312" title="Add to Cart" data-prodid="70312" class="">
                <b>Add to Cart<i class="fa fa-angle-right"></i></b>
              </a>
              </p>
              </div>

              </div></div><div class="owl-item active" style="width: 157.5px; margin-right: 30px;"><div>
                <a href="/product_AntiAging+System_38328.htm" data-prodid="38328" title="Anti-Aging System">
                  <img src="https://media.dermstore.com/catalog/100113/300x300/38328.jpg">
                </a><div class="iteminfo"><a href="/product_AntiAging+System_38328.htm" data-prodid="38328" title="Anti-Aging System">
                <div class="ctaAlign">
                  <p class="item-brand"><b>SkinCeuticals</b></p>
                  <p class="item-name">Anti-Aging System                                                                        <span> 3piece</span></p>
                  <p class="item-price">
                    $337.00                                                                                                                                                </p>
                </div>
              </a><p class="item-action text-center"><a href="/product_AntiAging+System_38328.htm" data-prodid="38328" title="Anti-Aging System">
              </a><a href="/cart/flip.php?prod_id=38328" title="Add to Cart" data-prodid="38328" class="">
                <b>Add to Cart<i class="fa fa-angle-right"></i></b>
              </a>
              </p>
              </div>

              </div></div><div class="owl-item active" style="width: 157.5px; margin-right: 30px;"><div>
                <a href="/product_ProfessionalC+Serum+20_7430.htm" data-prodid="7430" title="Professional-C Serum 20">
                  <img src="https://media.dermstore.com/catalog/100108/300x300/7430.jpg">
                </a><div class="iteminfo"><a href="/product_ProfessionalC+Serum+20_7430.htm" data-prodid="7430" title="Professional-C Serum 20">
                <div class="ctaAlign">
                  <p class="item-brand"><b>Obagi</b></p>
                  <p class="item-name">Professional-C Serum 20%                                                                        <span> 1fl oz.</span></p>
                  <p class="item-price">
                    $115.50                                                                                                                                                </p>
                </div>
              </a><p class="item-action text-center"><a href="/product_ProfessionalC+Serum+20_7430.htm" data-prodid="7430" title="Professional-C Serum 20">
              </a><a href="/cart/flip.php?prod_id=7430" title="Add to Cart" data-prodid="7430" class="">
                <b>Add to Cart<i class="fa fa-angle-right"></i></b>
              </a>
              </p>
              </div>

              </div></div><div class="owl-item active" style="width: 157.5px; margin-right: 30px;"><div>
                <a href="/product_Vitamin+C+E+Complex_2708.htm" data-prodid="2708" title="Vitamin C E Complex">
                  <img src="https://media.dermstore.com/catalog/100155/300x300/2708.jpg">
                </a><div class="iteminfo"><a href="/product_Vitamin+C+E+Complex_2708.htm" data-prodid="2708" title="Vitamin C E Complex">
                <div class="ctaAlign">
                  <p class="item-brand"><b>SkinMedica</b></p>
                  <p class="item-name">Vitamin C + E Complex                                                                        <span> 1oz.</span></p>
                  <p class="item-price">
                    $102.00                                                                                                                                                </p>
                </div>
              </a><p class="item-action text-center"><a href="/product_Vitamin+C+E+Complex_2708.htm" data-prodid="2708" title="Vitamin C E Complex">
              </a><a href="/cart/flip.php?prod_id=2708" title="Add to Cart" data-prodid="2708" class="">
                <b>Add to Cart<i class="fa fa-angle-right"></i></b>
              </a>
              </p>
              </div>

              </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="">prev</div><div class="owl-next" style="">next</div></div><div class="owl-dots" style="display: none;"></div></div></div>
          </div>
        </div>

      </div>
    </div> <!-- now-trending-carousel -->

    <div id="statbar" style="margin-bottom:1.25em">
      <!--|
      &nbsp;INLINED:
&nbsp;&nbsp;|-->
      <h4 is="ui-heading">Reviews</h4>
      <div class="statbar">
        <div class="statbar--overview">
          <h3 id="RATING" class="fivestar ui-icon__color=gold" data-rated="5" style="margin-top:0">
            <div class="fivestar--star ui-icon ui-icon--star" style="background-image: none;"><!--?xml version="1.0" ?--><svg class="icon" height="24px" version="1.1" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"> <g fill="none" fill-rule="evenodd" id="miu" stroke="none" stroke-width="1">  <g id="Artboard-1" transform="translate(-683.000000, -263.000000)">   <g id="slice" transform="translate(215.000000, 119.000000)"></g>   <path class="svg-fill" fill="#333" d="M694.98491,281.136378 L688.186537,286 L690.536373,277.987539 L684,272.561762 L691.949829,272.493347 L694.98491,264 L697.936034,272.561768 L706,272.561768 L699.433447,278.040327 L701.783283,286 L694.98491,281.136378 L694.98491,281.136378 Z"></path>  </g> </g></svg></div>
            <div class="fivestar--star ui-icon ui-icon--star" style="background-image: none;"><!--?xml version="1.0" ?--><svg class="icon" height="24px" version="1.1" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"> <g fill="none" fill-rule="evenodd" id="miu" stroke="none" stroke-width="1">  <g id="Artboard-1" transform="translate(-683.000000, -263.000000)">   <g id="slice" transform="translate(215.000000, 119.000000)"></g>   <path class="svg-fill" fill="#333" d="M694.98491,281.136378 L688.186537,286 L690.536373,277.987539 L684,272.561762 L691.949829,272.493347 L694.98491,264 L697.936034,272.561768 L706,272.561768 L699.433447,278.040327 L701.783283,286 L694.98491,281.136378 L694.98491,281.136378 Z"></path>  </g> </g></svg></div>
            <div class="fivestar--star ui-icon ui-icon--star" style="background-image: none;"><!--?xml version="1.0" ?--><svg class="icon" height="24px" version="1.1" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"> <g fill="none" fill-rule="evenodd" id="miu" stroke="none" stroke-width="1">  <g id="Artboard-1" transform="translate(-683.000000, -263.000000)">   <g id="slice" transform="translate(215.000000, 119.000000)"></g>   <path class="svg-fill" fill="#333" d="M694.98491,281.136378 L688.186537,286 L690.536373,277.987539 L684,272.561762 L691.949829,272.493347 L694.98491,264 L697.936034,272.561768 L706,272.561768 L699.433447,278.040327 L701.783283,286 L694.98491,281.136378 L694.98491,281.136378 Z"></path>  </g> </g></svg></div>
            <div class="fivestar--star ui-icon ui-icon--star" style="background-image: none;"><!--?xml version="1.0" ?--><svg class="icon" height="24px" version="1.1" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"> <g fill="none" fill-rule="evenodd" id="miu" stroke="none" stroke-width="1">  <g id="Artboard-1" transform="translate(-683.000000, -263.000000)">   <g id="slice" transform="translate(215.000000, 119.000000)"></g>   <path class="svg-fill" fill="#333" d="M694.98491,281.136378 L688.186537,286 L690.536373,277.987539 L684,272.561762 L691.949829,272.493347 L694.98491,264 L697.936034,272.561768 L706,272.561768 L699.433447,278.040327 L701.783283,286 L694.98491,281.136378 L694.98491,281.136378 Z"></path>  </g> </g></svg></div>
            <div class="fivestar--star ui-icon ui-icon--star" style="background-image: none;"><!--?xml version="1.0" ?--><svg class="icon" height="24px" version="1.1" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"> <g fill="none" fill-rule="evenodd" id="miu" stroke="none" stroke-width="1">  <g id="Artboard-1" transform="translate(-683.000000, -263.000000)">   <g id="slice" transform="translate(215.000000, 119.000000)"></g>   <path class="svg-fill" fill="#333" d="M694.98491,281.136378 L688.186537,286 L690.536373,277.987539 L684,272.561762 L691.949829,272.493347 L694.98491,264 L697.936034,272.561768 L706,272.561768 L699.433447,278.040327 L701.783283,286 L694.98491,281.136378 L694.98491,281.136378 Z"></path>  </g> </g></svg></div>
          </h3>
          <div class="statbar--overview--title">
            <h4 class="statbar--overview--rating">
              <sup id="TOTAL">5</sup> / <sub>5</sub>
            </h4>
          </div>
          <a class="ui-button ui-button__orange" is="ui-button" href="/reviews/add_review.php?brand_id=100113;prod_id=5230">
            Write a Review
          </a>
        </div>
        <div class="statbar--breakdown">
          <div id="RATINGS-1">
            <progress value="1" max="100" is="ui-progress"></progress>
            <label is="ui-label">
              <div class="fivestar" data-rated="1">
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
              </div>
            </label>
            <small>6</small></div>
          <div id="RATINGS-2">
            <progress value="1" max="100" is="ui-progress"></progress>
            <label is="ui-label">
              <div class="fivestar" data-rated="2">
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
              </div>
            </label>
            <small>4</small></div>
          <div id="RATINGS-3">
            <progress value="4" max="100" is="ui-progress"></progress>
            <label is="ui-label">
              <div class="fivestar" data-rated="3">
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
              </div>
            </label>
            <small>21</small></div>
          <div id="RATINGS-4">
            <progress value="10" max="100" is="ui-progress"></progress>
            <label is="ui-label">
              <div class="fivestar" data-rated="4">
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
              </div>
            </label>
            <small>60</small></div>
          <div id="RATINGS-5">
            <progress value="84" max="100" is="ui-progress"></progress>
            <label is="ui-label">
              <div class="fivestar" data-rated="5">
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
                <div class="fivestar--star ui-icon ui-icon--star"></div>
              </div>
            </label>
            <small>483</small></div>
        </div>
      </div>
      <style>
        #reviews>.row:nth-child(-n+2){
          display: none;
        }
        #reviews.nullcase.nullcase{
          display: block !important;
        }
        #reviews.nullcase.nullcase p{
          text-align: center !important;
        }
        #reviews.nullcase.nullcase p:last-child{
          margin-bottom: 0 !important;
        }
        #statbar {
          margin-bottom: 1em;
          padding-bottom: 1em;
          border-bottom: 1px solid #DDD;
        }
        #statbar .statbar--breakdown {
          flex-flow: nowrap column-reverse !important;
          flex: 0 0 30% !important;
          margin: 0 auto !important;
          padding: 0 !important;
          border: none !important;
          background-image: none !important;
          overflow: initial !important;
        }
        #statbar .statbar--breakdown > * {
          flex-flow: row !important;
          align-items: center !important;
          margin: .375em 0 !important;
        }
        #statbar .statbar--breakdown > * > * {
          margin: 0 !important;
        }
        #statbar .statbar--breakdown > * > small:last-child {
          min-width: 2.5em !important;
        }
        #statbar .statbar--breakdown progress {
          flex: 2 1 50% !important;
          width: initial !important;
          margin: 0 .5em !important;
          height: 1.25em !important;
        }
        #statbar .statbar--breakdown label {
          order: -1;
          flex: 1 5% !important;
          width: initial !important;
          min-width: 5.875em;
        }
        #statbar .statbar--breakdown .fivestar {
          opacity: .375 !important;
          margin-right: 0 !important;
        }
        @media(min-width:960px){
          #statbar .statbar--overview {
            order: -2;
          }
          #statbar .statbar--breakdown {
            order: -1;
            min-width: 20em;
          }
          #statbar .statbar--opinions {
            margin: 0 auto !important;
          }
        }
        @media(max-width:960px){
          #statbar .statbar--opinions {
            margin: 0 auto !important;
            margin-top: 2em !important;
            margin-bottom: 2em !important;
          }
          #statbar .statbar--breakdown {
            width: 100% !important;
            max-width: 25em;
            flex: 1 0 100% !important;
          }
        }
        @media(max-width:825px){
          #statbar .statbar--opinions {
            font-size: .875em;
          }
        }
      </style>
      <script>$(document).ready(function() {

        $('.free-shipping__details').on('click', function() {
          dataLayer.push({
            event: 'eventHandlerFire',
            'eventCategory': 'PDP',
            'eventAction':   'Free Shipping Details',
            'nonInteraction': true,
          });
        });

        $.getJSON('/ajax/review_stat_bar.php?prod_id=5230',function(json){

          /*-ga-disabled-
           dataLayer.push({
           event: 'eventHandlerFire',
           eventCategory: 'AB Tests',
           eventAction: 'Test 32840',
           eventLabel: 'Variant '+2+' (32840)',
           nonInteraction: true,
           });
           &nbsp;*/

          if( json.review_count==0 ){
            $('#statbar').css({borderBottom:'none',marginBottom:0,paddingBottom:0})
            $('.statbar').remove();
            return;
          }

          $('#RATING').add($('#RATING>.fivestar')).attr('data-rated',json.average_rating);
          $('#TOTAL').text(json.average_rating)

          if( json.featured_positive ){
            $('#POS-QUOTE').text(json.featured_positive.review_subject);
            $('#POS-USR').append((json.featured_positive.cust_first_name||'Anonymous')+" / Positive Reaction");
            $('#POS-RATING').add($('#POS-RATING>.fivestar')).attr('data-rated',json.featured_positive.review_rating);
            if( json.featured_negative ){
              $('#NEG-QUOTE').text(json.featured_negative.review_subject);
              $('#NEG-USR').append((json.featured_negative.cust_first_name||'Anonymous')+" / Negative Reaction");
              $('#NEG-RATING').add($('#NEG-RATING>.fivestar')).attr('data-rated',json.featured_negative.review_rating);
            }
            else $('.statbar--opinions .statbar--opinions__neg').remove();
          }
          else
            $('.statbar--opinions').remove();

          Object.keys(json.rating_counts).forEach(function(rating){
            var
              count= parseInt(json.rating_counts[rating]),
              $elem= $('#RATINGS-'+rating);
            $elem.append('<small>'+(count||0)+'</small>');
            $elem.children('progress').val(Math.round(((count||0)/json.review_count)*100));
          })

        });
      })</script>
      <!--|
&nbsp;USING THE DSUI:
  <div id="statbar" style="margin-bottom:1.25em">
    <h4 is="ui-heading">Reviews</h4>
    <ui-statbar data-model='./review_stat_bar.php?prod_id=5230' data-brand='100113'></ui-statbar>
    <style>#reviews>.row:nth-child(-n+2){display:none}</style>
  </div>
&nbsp;|-->
    </div>
    <!-- reviews -->
    <div id="reviews" class="">
      <div class="[ row pad ][ product-row ]">
        <h4>Product Reviews</h4>
        <div class="col-sm-12">&nbsp;</div>
      </div><!-- .row -->

      <div class="[ row pad ]">
        <div class="col-sm-6">
          <p><b>Overall Rating:</b> <span class="starsBox star5"></span><br>
            <small>Based on 574 Reviews</small></p>
        </div><!-- .col -->
        <div class="col-sm-6 text-right">
          <p><a href="/reviews/add_review.php?brand_id=100113;prod_id=5230" class="btn btn-orange">Write a Review</a></p>
        </div><!-- .col -->
      </div><!-- .row -->


      <div class="row filters hidden-xs hidden-sm">
        <form method="get" action="/ajax/review_list.php" id="product_reviews_list">
          <input type="hidden" name="prod_id" value="5230">
          <input type="hidden" name="ipp" value="25">
          <input type="hidden" name="layout" value="dolphin">
          <input type="hidden" id="product_reviews_list_page" name="page" value="1">
          <input type="hidden" id="review_list_filter_type" name="review_list_filter_type" value="skin">
          <div class="col-sm-8">
            <div class="pull-left"><b>Narrow reviews by:</b></div>
            <div class="dropdown">
              <button id="SkinTypeFilter" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Skin Type<span></span></button>
              <div class="dropdown-menu" aria-labelledby="SkinTypeFilter">
                <label><input type="checkbox" name="filter[skin_type][]" value="normal" class="review_filter"> Normal</label>
                <label><input type="checkbox" name="filter[skin_type][]" value="combination" class="review_filter"> Combination</label>
                <label><input type="checkbox" name="filter[skin_type][]" value="acne prone" class="review_filter"> Acne Prone</label>
                <label><input type="checkbox" name="filter[skin_type][]" value="sensitive" class="review_filter"> Sensitive</label>
                <label><input type="checkbox" name="filter[skin_type][]" value="oily" class="review_filter"> Oily</label>
                <label><input type="checkbox" name="filter[skin_type][]" value="dry" class="review_filter"> Dry</label>
                <label><input type="checkbox" name="filter[skin_type][]" value="mature" class="review_filter"> Mature</label>
              </div>
            </div>
            <div class="dropdown">
              <button id="SkinToneFilter" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Skin Tone<span></span></button>
              <div class="dropdown-menu" aria-labelledby="SkinToneFilter">
                <label><input type="checkbox" name="filter[skin_tone][]" value="fair" class="review_filter"> Fair</label>
                <label><input type="checkbox" name="filter[skin_tone][]" value="light" class="review_filter"> Light</label>
                <label><input type="checkbox" name="filter[skin_tone][]" value="medium" class="review_filter"> Medium</label>
                <label><input type="checkbox" name="filter[skin_tone][]" value="tan" class="review_filter"> Tan</label>
                <label><input type="checkbox" name="filter[skin_tone][]" value="olive" class="review_filter"> Olive</label>
                <label><input type="checkbox" name="filter[skin_tone][]" value="deep" class="review_filter"> Deep</label>
                <label><input type="checkbox" name="filter[skin_tone][]" value="dark" class="review_filter"> Dark</label>
                <label><input type="checkbox" name="filter[skin_tone][]" value="ebony" class="review_filter"> Ebony</label>
              </div>
            </div>
            <div class="dropdown">
              <button id="AgeRangeFilter" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Age Range<span></span></button>
              <div class="dropdown-menu" aria-labelledby="AgeRangeFilter">
                <label><input type="checkbox" name="filter[age_range][]" value="< 20" class="review_filter"> &lt; 20</label>
                <label><input type="checkbox" name="filter[age_range][]" value="20-30" class="review_filter"> 20-30</label>
                <label><input type="checkbox" name="filter[age_range][]" value="30-40" class="review_filter"> 30-40</label>
                <label><input type="checkbox" name="filter[age_range][]" value="40-50" class="review_filter"> 40-50</label>
                <label><input type="checkbox" name="filter[age_range][]" value="50-60" class="review_filter"> 50-60</label>
                <label><input type="checkbox" name="filter[age_range][]" value="60-70" class="review_filter"> 60-70</label>
                <label><input type="checkbox" name="filter[age_range][]" value="> 70" class="review_filter"> ; 70</label>
              </div>
            </div>

          </div><!-- .col -->
          <div class="col-sm-4 text-right">
            <p><span class="custom-dropdown custom-dropdown--white">
            <select class="custom-dropdown__select custom-dropdown__select--white" id="revewSort" name="sort">
              <option value="">Sort Reviews</option>
              <option value="date">Date</option>
              <option value="helpfulness">Helpfulness</option>
              <option value="rating">Rating</option>
              <option value="photos">Photos</option>
              <option value="video">Video</option>
            </select>
            </span></p>
          </div><!-- .col -->
        </form>
      </div><!-- .row -->


      <div class="row reviews">
        <div class="col-sm-12" id="product_page_review_list">

          <script>
            var js_review_star = 5;
            var js_review_total = 574;
            var js_review_featured = null;
            var js_review_top = null;
            function paginate(page) {
              $('#product_reviews_list_page').val(page);
              $('#product_reviews_list').submit();
            }
          </script>
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>20-30</b><br></p><hr><p><br>
                from Honolulu, HI<br>
                9/24/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Seems to be working great!</h5>
                <p>This was the first product I added when I began upping my skincare game, and I definitely feel like it's put in some good work for me. I was originally using it in the morning before sunscreen, but continually noticed that the product seemed to oxidize on my skin during the day and turn brown, so now I use it in the evening. I actually go so far as to apply it and then sit in the dark for 30 minutes to let it really soak in before continuing my routine! Sounds crazy, but I swear it's made a difference and kicked up the glow my skin has. I also personally don't find the smell THAT bad. I mean yeah, it's not great, but it's gone in a few seconds and it's not like it's going to kill you... it also gives you the opportunity to hold the bottle up to your unsuspecting partner's nose and ask them to smell it. 5/5, would use to annoy my boyfriend again!
              </p><p>
              </p><p>I haven't had any issues with this breaking me out, and I have incredibly oily skin. I think it's a great vitamin C serum to start with, and really makes the skin look brighter and fresher. I might try another Skinceuticals offering after this bottle runs out (maybe the Phloretin CF?) but I do absolutely love this one and think it can work for a wide range of skin types. My only real gripe is that I feel like there has to be better packaging to protect it from oxidation better... the dropper bottle let's do much air in. I keep it in my fridge away from light and heat though, and that seems to help!</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=192216" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=192216;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <br>
                  from Potomac, MD<br>
                  <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                  9/24/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Always recommended</h5>
                  <p>Every time I get a facial, no matter where, this is the serum I am told to use.  A little bit goes a long way.  </p>
                <br>
                <a href="/comments/add.php?doc_type=2000;doc_id=192202" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=192202;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>20-30</b><br></p><hr><p><br>
                from Merrimack, NH<br>
                9/23/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Fantastic Product</h5>
                <p>This stuff is a game changer. It made my dark spots much lighter and helped make my over all skin tone bright and glowing. The only thing I didn't like was the smell which was similar to ham but that's expected with Vitamin C.</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=192183" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=192183;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b></b><br></p><hr><p><br>
                from South Riding, VA<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                9/19/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star3"></div>
                <h5>Just not for my skin-type</h5> 								 <p>I bought this after reading the great reviews and after having used SkinCeuticals Serum 10 AOX for 6 months.  I thought the addition of Vit E and a slightly higher concentration of Vit C would be beneficial.  While I believe this product worked well for others, it didn't for my skin-type.  I have combination/oily skin, and I believe the Vit E was leaving my face oily after applying my regular skincare products in the morning. Plus, it seemed as though I was breaking out when I very rarely do.  I returned the product and went back to the Serum 10 AOX, and I've been happy with it.  </p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=191927" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=191927;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b></b><br></p><hr><p><br>
                from Aurora, OH<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                9/16/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Reordered today</h5> 								 <p>I added this product to my daily routine a few weeks ago and wasn't seeing a huge difference. But today a women at the gym, who I hadn't seen in a while, stopped me to tell me how great my skin looked! Needless to say I came home and immediately reordered, especially since there was a 20% off promotion. </p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=191729" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=191729;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br></p><hr><p><br>
                from Williamsburg , VA<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                9/14/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star3"></div>
                <h5>We will see </h5> 								 <p>I like this product. It doesn't really do much for my acne. But at least it doesn't make it work. I haven't seen a difference in my hyperpigmentation, but I've only been through one bottle, so well see. </p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=191600" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=191600;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>20-30</b><br></p><hr><p><br>
                from NORTH LITTLE ROCK, AR<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                9/10/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Great product </h5> 								 <p>I love the difference I have seen in my skin. This has become a staple in my daily routine. </p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=191423" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=191423;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br></p><hr><p><b>AT</b><br>
                from arlington, TX<br>
                9/9/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Great stuff</h5> 								 <p>This product has great reviews for a reason. Mature skin can benefit from it. It is always better to start getting into a routine while you're still young rather than wait until it is too late. It is a great antioxidant product that works as preventative and slow signs of aging. I've been using this consistently for a long time now. Give it a try and you won't be dissapointed. </p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=191381" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=191381;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b></b><br></p><hr><p><br>
                from Gaithersburg, MD<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                9/7/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Pricy, but worth it</h5> 								 <p>Def notice a change for the better in my skin with this. Purchasing my 3rd bottle. Only wish it was slightly runny (difficult to apply - almost consistency of water) and less stick when dry; wish it dried more matte. </p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=191275" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=191275;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>40-50</b><br></p><hr><p><b>DS</b><br>
                from Cypress, TX<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                9/7/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>LIQUID GOLD!!!!!!</h5> 								 <p>I give thanks to my aesthetician every day for recommending this product. My face had lost moisture, brightness and it was excessively dry and it was looking dull.
              </p><p>I use it every morning and it is pure GOLD!!!!!! </p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=191257" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=191257;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>40-50</b><br></p><hr><p><br>
                from Ames, IA<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                9/6/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Love this product!!</h5> 								 <p>Love love this serum! Have been using it for three years and my skin looks great!</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=191214" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=191214;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>30-40</b><br></p><hr><p><br>
                from West Palm Beach, FL<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                9/5/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Works as advertised</h5> 								 <p>I have been using this product daily as directed and it really works. Can't imagine not having this in my daily regimen.</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=191169" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=191169;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>50-60</b><br></p><hr><p><br>
                from Hyde Park, MA<br>
                9/4/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Made my skin flawless </h5> 								 <p>I have grown to love this product. My dermatologist recommended this as something to add to my skin care routine. I slowly worked it into my routine, mainly due to the smell and sticky feel of the product. I used it 2 times a week and followed up with a moisturizer with sunscreen by la roche posay. I noticed a huge improvement in the tone and feel of my skin. I now use it 3 times a week because I'm also use a retinol twice a week at night. Dark spots from sun have faded dramatically. I'm very pleased with this serum and how my skin looks.</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=191101" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=191101;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br></p><hr><p><br>
                from Culver City, CA<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                9/3/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Best Vitamin C Serum!</h5> 								 <p>I have tried a small handful of vitamin C serums.  This is where my search ends.  I have been using this product the past 4 months.  There is definitely a difference in the quality of my skin.  The reason I chose to use this serum is to lighten my hyperpigmentation.  It definitely has made a difference.  Several reviews mention a smell but it is very minor.  After the first few minutes you can't even tell.  I suggest waiting 5-10 minutes for the serum to fully absorb into your skin before layering with a sunblock or makeup. </p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=191057" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=191057;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br></p><hr><p><br>
                from New York, NY<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                8/27/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Favorite serum</h5> 								 <p>My favorite anti aging product - I switch  it every other night with prescription retinal and almost every day as part of my morning routine and it works wonders. The smell is hard to get used to but if you follow it with a nice smelling moisturizer it's not as noticeable.
              </p><p>Great results - improves fine lines around the mouth and skin looks fresh and dewy in the am</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=190609" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=190609;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>40-50</b><br></p><hr><p><br>
                from Portland, OR<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                8/27/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star4"></div>
                <h5>I'm addicted</h5> 								 <p>I turned 45 a few months ago. Though I've taken good care of my skin by wearing sunscreen etc. for years, in the lead up to the birthday, I started to see a softness in my jawline and neck that I'd never noticed before. I decided to treat myself to this product, and I now will keep purchasing and using it. My neck and jawline firmness have clearly improved, and the product never feels heavy or greasy. The only reason I am giving the product 4 stars instead of 5, is that the smell is a bit odd and metallic, and my partner has complained, mildly, about it. </p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=190597" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=190597;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <br>
                  from Columbus, OH<br>
                  <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                  8/25/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>It worths the price</h5> 								 <p>High percentage of Vitamin C, but not irritated at all. I used Perricone MD high potency vitamin C before, and it dries me skin out. This is wonderful for anti-aging</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=190479" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=190479;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>20-30</b><br></p><hr><p><br>
                from Los Angeles, CA<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                8/23/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>The Miracle Serum</h5> 								 <p>I've used a number of serums and this one is by far THE BEST! Hands Down! The first time I heard and read about skinCeuticals was when I read The Age Fix, which I highly recommend if you want to know more about how to take care of your skin instead of going under the knife.
              </p><p>
              </p><p>I immediately noticed a difference in my skin after 5 months. People are always completing me how great my skin looks and feels. I absolutely love SkinCeuticals!</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=190366" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=190366;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Male</b><br>Age: <b></b><br></p><hr><p><b>JN</b><br>
                from Kansas City, MO<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                8/21/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Hands down the best Vit C serum</h5> 								 <p>What can be said about this great product that hasn't already been said. If you're looking for a solid serum that you know works this is it. By the time I was done with the first bottle I had already started seeing smoothness and brightening. If I had to get picky and say something bad about the product it would be regarding the smell. That said I'm more concerned the product works rather than having a scent I love haha. </p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=190266" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=190266;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>40-50</b><br></p><hr><p><br>
                from Humble, TX<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                8/21/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>best of the best</h5> 								 <p>By far the most effective product on the market. This is my "go to" facial serum. I've tried other Vitamin C serums, but nothing works like CE Ferulic.</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=190237" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=190237;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>30-40</b><br></p><hr><p><b>TC</b><br>
                from Houston, TX<br>
                8/20/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Softer Skin!</h5> 								 <p>Almost immediately after beginning use of this product my skin started to feel so much ofter. It feels luxurious going on, and I read some other reviews about the scent, but I've never even thought twice about that. Any scent that it may have goes away within a matter of seconds anways. I'm excited to see what this will do to my skin after a few months, but even two weeks in I'm noticing softer and more hydrated skin.</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=190212" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=190212;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b></b><br></p><hr><p><br>
                from Totowa, NJ<br>
                <span class="highlight"><b>Verified Purchaser</b></span><br><br>
                8/15/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Holy Grail Product</h5> 								 <p>I had heard about this product but stayed away initially because of its price, and was using the Ole Henriksen Vit C truth serum. But then a dermatologist friend of mine told me that in her opinion this was the best OTC vitamin C product to use and that it was actually a good price for what it delivers (i.e., compared to the price of treatments at a derm's office). I've been using the product daily for almost 3 months now and my skin tone has evened out so remarkably that I have stopped using foundation (which I hate using during the summer anyways). In the morning: I wash my face, pat dry and wait a few min, put 4 drops of this serum on my face, wait a few more minutes, and then follow up with a hydrating serum, eye cream (also by SkinCeuticals), and moisturizing sunscreen (also by SkinCeuticals). My skin is by no means flawless (e.g., I still break out during my period or if my skin reacts to a new product or something I ate), but it has improved so much that I don't need to use BB cream or foundation! And all in a matter of a few months!
              </p><p>
              </p><p>I've read complaints about the scent, but to me, it's not that bad and it goes away in a few seconds...really, it's not much to put up with considering what it can do for your skin.</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=189965" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=189965;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b>30-40</b><br></p><hr><p><br>
                from Washburn, WI<br>
                8/8/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star4"></div>
                <h5>Would give it 5 stars if it wasn't so expensive</h5> 								 <p>I hate how expensive this is but it seems to be worth the price due to all the proven ingredients in the formula. The smell is distinct and takes some getting used to (hot dogs is pretty accurate in terms of the scent). I like knowing that this strengthens my skin's defense against free radicals (especially in the summer when I'm outside a lot). I always make sure to wear sunscreen but I like having this underneath. I only buy one bottle a year though, for summer. The other times of year I buy cheaper alternatives.  I also wonder if they'll ever update the packaging to help keep it from oxidizing. Also, they raise the price on this by a few dollars every year.  It will just get even more crazy expensive as time goes on</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=189530" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=189530;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                </p><hr><p><br>
                from Pace, FL<br>
                8/8/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Quality product</h5> 								 <p>I put this on in the morning and it leaves my face glowing. Haven't seen any other products that have a matching effect. Worth the cost</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=189514" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=189514;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->
          <!-- individual review -->
          <div class="panel panel-default">
            <div class="row">
              <div class="col-sm-3 reviewer">
                <p>
                  <b>Female</b><br>Age: <b></b><br></p><hr><p><b>AE</b><br>
                from Round Hill, VA<br>
                8/8/2017								</p>
              </div><!-- .col -->
              <div class="col-sm-9">
                <div class="starsBox star5"></div>
                <h5>Incredible!</h5> 								 <p>I've been on a Skinceuticals regimen for almost a decade- most of it using Phloretin. CF, and when my skin became overly sensitive  3-4yrs ago I switched to CE Ferulic and never looked back. This serum is magical- makes my skin glow, vitamin E moisturizes as C fights aging and dark spots. The occasional pimple is gone before the day is over, and 4-6 drops glide over your face and neck and absorb very quickly. Absoljtely essential, I wouldn't change it for any other serum on the market.</p>
                <br><a href="/comments/add.php?doc_type=2000;doc_id=189487" rel="nofollow" title="Add Comment" class="add-comment"><b>Add Comment ;</b></a><p></p>
                <p class="clearfix text-right helpful"><small>
                  <a class="rhajax" data-id="" id="#review_helpful_" href="/ajax/review_helpful.php?rid=189487;ajax=true;hid=1">Mark as helpful</a>
                </small></p>
              </div><!-- .col -->
            </div><!-- .row -->


          </div><!-- .panel -->

          <div class="clear"></div>
          <div class="pagination">
            <a href="#reviewAnchor" class="pages" style="" onclick="paginate(1);">1</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(2);">2</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(3);">3</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(4);">4</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(5);">5</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(6);">6</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(7);">7</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(8);">8</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(9);">9</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(10);">10</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(11);">11</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(12);">12</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(13);">13</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(14);">14</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(15);">15</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(16);">16</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(17);">17</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(18);">18</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(19);">19</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(20);">20</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(21);">21</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(22);">22</a>  | <a href="#reviewAnchor" class="pages" style="" onclick="paginate(23);">23</a>  | <a href="#reviewAnchor" class="pages" onclick="paginate(2);">next</a>
          </div>
          <div class="clear"></div></div><!-- .col -->
      </div><!-- .row -->
    </div><!-- #reviews -->
  </div><!-- .container -->
</div>
