<div class="preview" [class.expanded]='expanded'>
  <button [class.not-shown]='!products.length || expanded' type="button" class="circle" (click)="onCartClick()">
    <img src="../../assets/cart_white.svg" alt="cart" />
    <div class="indicator"><span>{{numProducts}}</span></div>
  </button>
  <div class="fill" [style.height]="expanded ? expandedHeight : inherit" [class.not-shown]='!products.length' [class.animate-plop]='animatePlop' [class.shown]='animatePopout && !expanded'>
    <div class="expanded-info" [class.shown]='expanded'>
      <h3>This is what you're gonna buy...</h3>
      <div class="product" *ngFor="let item of products">
        <div class="row">
          <div class="col-6-sm description">
            <p>{{item.quantity}} x {{item.product.name}}</p>
          </div>
          <div class="col-6-sm price">
            <p>{{item.quantity*item.product.parsedPrice | currency:'USD':true:'1.0-2' }}</p>
          </div>
        </div>
        <button class="delete-btn" (click) = 'deleteProduct(item.product)'>x</button>
      </div>
      <a routerLink="/checkout">
        <button (click)="onSubmit()" type="button" class="pay-btn">Pay {{cartTotal | currency:'USD':true:'1.0-2'}}</button>
      </a>
    </div>
    <button type="button" class="close-btn" *ngIf='expanded' (click)="onCartClick()">Close</button>
  </div>
</div>
<div class="overlay" [class.shown]='expanded'>

</div>
