@import "../shared/models/colors";
@import "../shared/models/mixins";

.preview{
  position: relative;
  .fill{
    position: absolute;
    top: 0;
    right: 0;
  }
}

.close-btn{
  position: absolute;
  top: 6px;
  right: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 0.7em;
  font-weight: 600;
  text-decoration: underline;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}

.pay-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 44px;
  height: 44px;
  padding: 0 25px;
  border: none;
  background-color: #EF364C;
  box-shadow: 0 2px 19px rgba(0, 0, 0, 0.32);
  color: white;
  font-weight: 600;
  margin-top: 20px;
}

.expanded-info{
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  width: 80%;
  margin: 0 auto;
  .product, h3, .pay-btn{
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    @include transition-fade(0.5s);
  }
  .price{
    text-align: right;
  }
  &.shown{
    opacity: 1;
    z-index: 3;
    .product, h3, .pay-btn{
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
    h3{
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
      opacity: 0.43;
    }

    .product{
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s;
      opacity: 1;
    }

    .pay-btn{
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
      opacity: 1;
    }
  }
  h3{
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
  }
  .product{
    position: relative;
    width: 95%;
    p{
      margin: 0;
    }
    &:not(:last-child){
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .delete-btn{
      position: absolute;
      right: -28px;
      top: 14px;
      background: none;
      border: none;
      opacity: 0.6;
      color: white;
      font-weight: 600;
      font-size: 0.8em;
      &:hover{
        opacity: 0.8;
      }
    }
  }
}

.preview.expanded{
  .fill{
    width: 500px;
    border-radius: 3px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.49);
    &.animate-plop{
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
    }
  }
}


.preview:not(.expanded) .fill:hover{
  box-shadow: 0 2px 13px rgba(49, 46, 82, 0.65);
}


.preview{
  .fill{
    height: 40px;
    width: 40px;
    box-shadow: 0 2px 13px rgba(93, 78, 240, 0.55);
    background: $primary-color;
    border-radius: 50px;
    z-index: 4;
    @include transition-fade-circ(0.35s);

    &.not-shown{
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    &.shown{
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    &.animate-plop{
      -webkit-transform: scale(1.35);
      transform: scale(1.35);
    }
  }
  .circle{
    height: 40px;
    width: 40px;
    border: none;
    padding: 0;
    border-radius: 50px;
    position: relative;
    z-index: 5;
    background: none;
    @include transition-fade-circ(0.2s);
    img{
      position: relative;
      top: 3px;
      left: -1px;
    }
    &.not-shown{
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  .indicator{
    background-color: #EF364C;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: white;
    position: absolute;
    top: -3px;
    font-size: 0.6em;
    right: 0;
    font-weight: 700;
    text-align: center;
    span{
      position: relative;
      top: 1px;
    }

  }
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  @include transition-fade-circ(0.4s);
  background-color: rgba(0, 0, 0, 0.7);
}

/** Media queries **/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

  .overlay.shown{
    height: 100%;
    opacity: 1;
    z-index: 9;
  }

  .pay-btn{
    margin-top: 35px;
  }
  .close-btn{
    z-index: 90;
  }
  .description, .price{
    p{
      font-size: 1em;
    }
  }
  .expanded-info{
    width: 90%;
    h3{
      font-size: 0.9em;
    }
    .product .delete-btn{
      right: -21px;
      top: 10px;
    }
  }
  .preview{
    position: fixed;
    bottom: 3%;
    right: 5%;
    width: 13%;
    @include transition-fade-circ(0.3s);
    .fill{
      box-shadow: 0 2px 13px rgba(93, 78, 240, 0.75);
    }
    &.expanded{
      width: 90%;
      margin: 0 auto;
      bottom: 75%;
      z-index: 800;
      .fill{
        width: 100%;
      }
    }
  }
}
