@import "../shared/models/colors";
@import "../shared/models/mixins";


.filters{
  border: 1px solid #333333;
  padding: 20px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  background-color: white;
  border: none;
  border-radius: 4px;
  padding-top: 1px;
  position: relative;
}

.filter{
  width: 100%;
  background: #999999;
  border-radius: 3px;
  margin-bottom: 10px;
  height: 35px;
}

.fake-checkbox{
  position: relative;
}

.filters-wrapper{
  position: relative;
  z-index: 90000;
}

.filter-wrapper{
  margin-bottom: 8px;
  label{
    cursor: pointer;
    &:hover .label{

    }
  }
  input[type=checkbox], input[type=radio]{
    display: none;
    &:checked + .square, &:checked + .circle{
      opacity: 1;
    }
    &:checked + .square .fill, &:checked + .circle .fill{
      opacity: 1;
    }
    &:checked ~ .label{
      opacity: 1;
    }
  }
  .square, .circle, .fill{
    display: inline-block;
  }
  .square, .circle{
    height: 16px;
    width: 16px;
    border: 1px solid $primary-color;
    position: relative;
    opacity: 0.4;
    .fill{
      height: 10px;
      width: 10px;
      background-color: $primary-color;
      @include transition-fade-circ(0.25s);
      position: absolute;
      opacity: 0;
    }
  }
  .square{
    border-radius: 3px;
    .fill{
      border-radius: 2px;
    }
  }
  .circle{
    border-radius: 50%;
    .fill{
      border-radius: 50%;
    }
  }
  .fill{
    top: 3px;
    left: 3px;
  }
  .label{
    text-transform: capitalize;
    position: relative;
    top: -4px;
    margin-left: 7px;
    opacity: 0.6;
    @include transition-fade(0.4s);
  }
}

h5{
  text-transform: uppercase;
  color: #bababa;
  font-size: 0.8em;
  font-weight: 600;
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 3px;
    background-color: #e8e8e8;
  }
}

.toggle-btn{
  display: none;
}

.close-side-btn{
  display: none;
  background: none;
  border: none;
}

/** Media queries **/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .close-side-btn{
    display: block;
    position: absolute;
    color: #aaaaaa;
    font-size: 1.2em;
    font-weight: 300;
    right: 18px;
    top: 6px;
    opacity: 0.7;
  }
  .toggle-btn{
    display: inline-block;
    position: absolute;
    left: -69px;
    top: 11px;
    background: white;
    border-radius: 3px;
    color: #5D4EF0;
    padding: 4px 11px;
    border: none;
    font-size: 0.8em;
    font-weight: 600;
    box-shadow: 0 2px 15px rgba(0,0,0,0.4);
  }
  .filters{
    width: initial;
    position: relative;
    box-shadow: none;
    border-radius: 0;
    height: 100%;
    @include transition-fade-circ(0.35s);
    &.side-shown{
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}



/*= wrapper styles
 */
.cat-description {
  position: relative;
  min-height: 4.5em;
  font-size: 15px;
}
@media (max-width:425px) {
  .cat-description {
    min-height: 3.25em;
  }
}

/*= short text
  */

.cat-description > a[href="#expand"] {
  opacity: 1;
  background: transparent;
  transition: opacity .2s, color .2s, background .2s !important;
  transition-delay: 0s !important;
  text-decoration: none !important;
  color: currentColor;
  -webkit-touch-callout: none !important;
}
.cat-description > a[href="#expand"]:hover {
  color: #079CB4;
}
.cat-description.transitioning > a[href="#expand"] {
  opacity: 0;
}
.cat-description.open > a[href="#expand"] {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  text-decoration: none;
  background: rgba(255,255,255,.75);
  background: linear-gradient(to bottom, rgba(255,255,255,.375) 0%, rgba(255,255,255,.75) 37.5%, #FFF 97%);
}
.cat-description.open > a[href="#expand"]:hover {
  opacity: 1;
}
.cat-description.transitioning > a[href="#expand"] {
  position: absolute;
  opacity: 1;
  pointer-events: none;
}
.cat-description.transitioning:not(.open) > a[href="#expand"] {
  opacity: 0;
  font-size: 15px !important;
}

/*= short text toggle (pseudo elems)
  */

.cat-description > a[href="#expand"]:after {
  content: '\f055';
  font-family: fontawesome;
  opacity: 1;
  transition: opacity .2s;
}
.cat-description.transitioning > a[href="#expand"]:after {
  opacity: 0 !important;
  font-size: 14px;
}
.cat-description.open > a[href="#expand"]:after {
  opacity: 1;
  content: '\f056';
  font-family: fontawesome;
  font-size: 25px;
  flex: 1 0 100%;
}
.cat-description > a[href="#expand"]:before {
  content: 'Show Less';
  position: absolute;
  top: 62.5%;
  top: calc(50% + 25px);
  left: 0;
  width: 100%;
  font-size: 15px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity .2s;
  pointer-events: none;
}
.cat-description.open > a[href="#expand"]:before {
  opacity: 1;
}
.cat-description.transitioning > a[href="#expand"]:before {
  opacity: 0;
}

/*= full description
  */
.cat-description > span {
  opacity: 0;
}
.cat-description.open > span {
  opacity: 1;
}
#new {
  display: block;
  visibility: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

 .brand-img {
   /*= RESPONSIVE BRAND IMAGES
    *  (restricted proportional resize)
    */
   max-width: 200px;
   width: auto;
   height: auto;
   max-height: 200px;
   margin-bottom: 1.5em;
 }
 @media (max-width:225px) {
   .brand-img {
     max-width: 95%;
   }
 }
