<div id="category-page">

  <!-- breadcrumbs -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb">
          <li><a href="/profile_Skin+Care_500014.htm">Skin Care</a></li><li class="active">All Products</li>                    </ol>
      </div><!-- .col -->
    </div><!-- .row -->

    <div id="rg=toggleDescription" class="hidden">
      <script>
        function maxchars(txt_org,max) {
          // trim to max length
          txt_min = txt_org.substr(0,max);
          // trim to word limit if mid-word
          txt_min = txt_min.substr(0, Math.min(txt_min.length, txt_min.lastIndexOf(" ")));
          return txt_min;
        }
        $(document).ready(function() {
          $desc = $('.cat-description');
          if ($desc.length==1) {
            //= limit description text and set markup
            //
            var tglTxt = maxchars( $desc.text(), 380 ),
              $short = $('<a href="#expand">'+tglTxt+'… </a>'),
              $full  = $('<span style="display:none;">'+$desc.html()+'</span>');

            $desc
              .removeClass('open transitioning')
              .empty().append($short,$full);

            // init "show more|less" event logic
            //
            $('.cat-overview').on('click', '.cat-description>a', function(e){

              $(this).parents('.cat-description').addClass('transitioning');

              $(this).next().slideToggle(400,function(){
                $(this).parents('.cat-description').toggleClass('open').removeClass('transitioning');
              });
            });
          }
        });
      </script>
      <style>
        /*= wrapper styles
        */
        .cat-description {
          position: relative;
          min-height: 4.5em;
          font-size: 15px;
        }
        @media (max-width:425px) {
          .cat-description {
            min-height: 3.25em;
          }
        }

        /*= short text
          */

        .cat-description > a[href="#expand"] {
          opacity: 1;
          background: transparent;
          transition: opacity .2s, color .2s, background .2s !important;
          transition-delay: 0s !important;
          text-decoration: none !important;
          color: currentColor;
          -webkit-touch-callout: none !important;
        }
        .cat-description > a[href="#expand"]:hover {
          color: #079CB4;
        }
        .cat-description.transitioning > a[href="#expand"] {
          opacity: 0;
        }
        .cat-description.open > a[href="#expand"] {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          font-size: 0;
          text-decoration: none;
          background: rgba(255,255,255,.75);
          background: linear-gradient(to bottom, rgba(255,255,255,.375) 0%, rgba(255,255,255,.75) 37.5%, #FFF 97%);
        }
        .cat-description.open > a[href="#expand"]:hover {
          opacity: 1;
        }
        .cat-description.transitioning > a[href="#expand"] {
          position: absolute;
          opacity: 1;
          pointer-events: none;
        }
        .cat-description.transitioning:not(.open) > a[href="#expand"] {
          opacity: 0;
          font-size: 15px !important;
        }

        /*= short text toggle (pseudo elems)
          */

        .cat-description > a[href="#expand"]:after {
          content: '\f055';
          font-family: fontawesome;
          opacity: 1;
          transition: opacity .2s;
        }
        .cat-description.transitioning > a[href="#expand"]:after {
          opacity: 0 !important;
          font-size: 14px;
        }
        .cat-description.open > a[href="#expand"]:after {
          opacity: 1;
          content: '\f056';
          font-family: fontawesome;
          font-size: 25px;
          flex: 1 0 100%;
        }
        .cat-description > a[href="#expand"]:before {
          content: 'Show Less';
          position: absolute;
          top: 62.5%;
          top: calc(50% + 25px);
          left: 0;
          width: 100%;
          font-size: 15px;
          transform: translateY(-50%);
          opacity: 0;
          transition: opacity .2s;
          pointer-events: none;
        }
        .cat-description.open > a[href="#expand"]:before {
          opacity: 1;
        }
        .cat-description.transitioning > a[href="#expand"]:before {
          opacity: 0;
        }

        /*= full description
          */
        .cat-description > span {
          opacity: 0;
        }
        .cat-description.open > span {
          opacity: 1;
        }
        #new {
          display: block;
          visibility: 0;
          opacity: 0;
          height: 0;
          overflow: hidden;
        }

      </style>

    </div>
    <style id="restrict-brand-image-dimensions" data-note="this should be moved to the main stylesheet">
      .brand-img {
        /*= RESPONSIVE BRAND IMAGES
         *  (restricted proportional resize)
         */
        max-width: 200px;
        width: auto;
        height: auto;
        max-height: 200px;
        margin-bottom: 1.5em;
      }
      @media (max-width:225px) {
        .brand-img {
          max-width: 95%;
        }
      }
    </style>
    <div class="row">
      <div class="text-center col-sm-offset-1 col-sm-10 col-xs-12">

        <div class="cat-overview">

          <h1 class="text-center">Skin Care</h1>
          <div class="cat-description"><a href="#expand">
            At Dermstore, we feature handpicked, cutting-edge skin care products for every skin type. Whether you're concerned with damage prevention for your complexion or in search of an effective solution for a specific issue, you'll find everything you need in our ever-growing collection. Browse our categories featuring the industry's leading brands, including… </a><span style="display:none;">
            <p>At Dermstore, we feature handpicked, cutting-edge skin care products for every skin type. Whether you're concerned with damage prevention for your complexion or in search of an effective solution for a specific issue, you'll find everything you need in our ever-growing collection. Browse our categories featuring the industry's leading brands, including SkinCeuticals, Obagi, Drunk Elephant, Eminence and PCA Skin.</p>
            </span></div>
        </div><!-- .cat-overview -->

      </div><!-- .col -->
    </div><!-- .row -->
    <hr class="main-container">
    <div class="row">
      <div class="col-3">
        <div class="filters-wrapper">
          <!--<app-cart></app-cart>-->
          <app-filters #filtersComponent [categories]='originalData.categories' [customFilters]='customFilters' [priceFilters]='priceFilters' (onFilterChange)='onFilterChange($event)'>></app-filters>
        </div>
      </div>
      <div class="col-sm-9">
        <div >
          <div class="row">
            <div class="col-sm-8">
              <div class="sort-filters-wrapper">
                <app-sort-filters [filters]='sortFilters' (onSortChange)='sortProducts($event)'></app-sort-filters>
              </div>
            </div>
            <div class="col-sm-4">
              <app-search-bar  #searchComponent (onSearchChange)='onSearchChange($event)'></app-search-bar>
            </div>
          </div>
                <!--START FEATURED PRODUCT LISTING -->
          <div id="prodGrid">
            <div class="row">
              <div class="col-sm-4" *ngFor="let product of products">
                <div class="prod-widget-responsive">
                  <a routerLink="/product/{{product.id}}">
                    <img src="{{product.image}}" class="img-responsive" alt="Sun wei is Da Sheng">
                  </a>
                  <div class="color-var"></div>
                  <div class="iteminfo">
                    <p class="item-brand"></p>
                    <h4 class="brnds-itms">
                      <a id="brnd-titles" styles="font-family: 'Martel';
                         " href="/product_Precleanse+Balm_72753.htm"
                         title="">{{product.title}}</a>
                    </h4>
                    <p></p>
                    <a routerLink="/product/{{product.id}}">
                      <p class="item-name">{{product.name}}</p>
                      <p class="item-rating clearfix">
                        <span class="starsBoxSm">
                          <img src="//media.dermstore.com/images/widgets/product/stars-3.png" class="img-responsive">
                        </span>
                        <small class="item-review_count">(2)</small>
                       </p>
                      <p class="item-price">${{product.price}}</p>
                    </a>
                    <p class="item-action">
                      <button type="button" class="cart" (click)="onAddToCart(product)"><img src="../assets/cart_primary.svg" alt="" />Add to Cart</button>
                    </p>
              </div><!-- .iteminfo -->
            </div>
          </div>
        </div>
      </div><!-- #prodGrid -->

    </div>


    <div class="row">
      <div class="col-sm-12">
        <div id="pagination"><span class="hbmid active" style="font-weight:bold;">1</span>
          <span class="hbmid">|</span><a class="page_list" href="#" onclick="document.body.scrollTo(0, document.getElementById('parent').offsetTop); return false" data-page="2" data-ipp="48" data-att-list="" data-sort="">2</a>
          <span class="hbmid">|</span><a class="page_list" href="#" onclick="document.body.scrollTo(0, document.getElementById('parent').offsetTop); return false" data-page="3" data-ipp="48" data-att-list="" data-sort="">3</a>
          <span class="hbmid">|</span><a class="page_list" href="#" onclick="document.body.scrollTo(0, document.getElementById('parent').offsetTop); return false" data-page="4" data-ipp="48" data-att-list="" data-sort="">4</a>
          <span class="hbmid">|</span><a class="page_list" href="#" onclick="document.body.scrollTo(0, document.getElementById('parent').offsetTop); return false" data-page="5" data-ipp="48" data-att-list="" data-sort="">5</a>
          <span class="hbmid">|</span> ...<a class="page_list" href="#" onclick="document.body.scrollTo(0, document.getElementById('parent').offsetTop); return false" data-page="122" data-ipp="48" data-att-list="" data-sort="">122</a>
          <a class="page_list" href="#" data-page="2" data-ipp="48" data-att-list="" data-sort="">next »</a>
        </div><!-- #pagination -->
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .col -->
</div><!-- .row -->
</div><!-- .container -->
</div>
