@import "../shared/models/colors";
@import "../shared/models/mixins";

.wrapper{
  display: block;
  height: 35px;
  background: none;
  font-size: 14px;
  padding-left: 11px;
  position: relative;
  top: 4px;
  label{
    opacity: 0.8;
  }
  select{
    color: $primary-color;
    background: none;
    border: none;
    font-size: 13px;
    margin-left: 2px;
    font-weight: 500;
    cursor: pointer;
    width: 130px;
  }
  .triangle{
    height: 0;
    width: 0;
    border-top: 4px solid $primary-color;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    position: relative;
    top: -2px;
    right: 14px;
    pointer-events: none;
    opacity: 0.3;
  }
}

/** Media queries **/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .wrapper{
    label{
      color: white;
    }
    select{
      color: white;
    }
    .triangle{
      border-top: 4px solid white;
    }
  }

}
