<!DOCTYPE html>
<html>
<head>
<style>
  .contain {
    position: relative;
    margin: 275px;
    width: 200px;
  }

  svg {
    position: absolute;
    bottom: 90%;
  }
  svg ellipse {
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  svg:nth-of-type(1) ellipse {
    stroke: #F1725D;
    cx: 25px;
    stroke-width: 3px;
    -webkit-animation: jump 600ms infinite ease-in-out;
    animation: jump 600ms infinite ease-in-out;
    opacity: .7;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
  }
  svg:nth-of-type(2) ellipse {
    stroke: #38BDAB;
    cx: 65px;
    stroke-width: 3px;
    -webkit-animation: jump 600ms infinite ease-in-out;
    animation: jump 600ms infinite ease-in-out;
    opacity: .7;
    -webkit-animation-delay: 75ms;
    animation-delay: 75ms;
  }
  svg:nth-of-type(3) ellipse {
    stroke: #9D30A5;
    cx: 105px;
    stroke-width: 3px;
    -webkit-animation: jump 600ms infinite ease-in-out;
    animation: jump 600ms infinite ease-in-out;
    opacity: .7;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
  }
  svg:nth-of-type(4) ellipse {
    stroke: #B779E2;
    cx: 145px;
    stroke-width: 3px;
    -webkit-animation: jump 600ms infinite ease-in-out;
    animation: jump 600ms infinite ease-in-out;
    opacity: .7;
    -webkit-animation-delay: 225ms;
    animation-delay: 225ms;
  }
  svg:nth-of-type(5) ellipse {
    stroke: #683893;
    cx: 185px;
    stroke-width: 3px;
    -webkit-animation: jump 600ms infinite ease-in-out;
    animation: jump 600ms infinite ease-in-out;
    opacity: .7;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
  }
  svg:nth-of-type(6) ellipse {
    fill: #333333;
    opacity: .05;
    rx: 0;
    ry: 0;
    cx: 25px;
    cy: 48px;
    -webkit-animation: shadow 600ms infinite ease-in-out;
    animation: shadow 600ms infinite ease-in-out;
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
  }
  svg:nth-of-type(7) ellipse {
    fill: #333333;
    opacity: .05;
    rx: 0;
    ry: 0;
    cx: 65px;
    cy: 48px;
    -webkit-animation: shadow 600ms infinite ease-in-out;
    animation: shadow 600ms infinite ease-in-out;
    -webkit-animation-delay: 75ms;
    animation-delay: 75ms;
  }
  svg:nth-of-type(8) ellipse {
    fill: #333333;
    opacity: .05;
    rx: 0;
    ry: 0;
    cx: 105px;
    cy: 48px;
    -webkit-animation: shadow 600ms infinite ease-in-out;
    animation: shadow 600ms infinite ease-in-out;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
  }
  svg:nth-of-type(9) ellipse {
    fill: #333333;
    opacity: .05;
    rx: 0;
    ry: 0;
    cx: 145px;
    cy: 48px;
    -webkit-animation: shadow 600ms infinite ease-in-out;
    animation: shadow 600ms infinite ease-in-out;
    -webkit-animation-delay: 225ms;
    animation-delay: 225ms;
  }
  svg:nth-of-type(10) ellipse {
    fill: #333333;
    opacity: .05;
    rx: 0;
    ry: 0;
    cx: 185px;
    cy: 48px;
    -webkit-animation: shadow 600ms infinite ease-in-out;
    animation: shadow 600ms infinite ease-in-out;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
  }

  @-webkit-keyframes jump {
    40% {
      -webkit-transform: translateY(20px) scale(1.3);
      transform: translateY(20px) scale(1.3);
      opacity: .9;
    }
    40% {
      rx: 10px;
      ry: 10px;
      stroke-width: 3px;
    }
    45% {
      rx: 15px;
      ry: 7px;
      stroke-width: 4px;
    }
    55% {
      rx: 10px;
      ry: 10px;
    }
  }

  @keyframes jump {
    40% {
      -webkit-transform: translateY(20px) scale(1.3);
      transform: translateY(20px) scale(1.3);
      opacity: .9;
    }
    40% {
      rx: 10px;
      ry: 10px;
      stroke-width: 3px;
    }
    45% {
      rx: 15px;
      ry: 7px;
      stroke-width: 4px;
    }
    55% {
      rx: 10px;
      ry: 10px;
    }
  }
  @-webkit-keyframes shadow {
    45% {
      opacity: .15;
      rx: 10px;
      ry: 3px;
      -webkit-transform: translateY(5px) scale(1.3);
      transform: translateY(5px) scale(1.3);
    }
  }
  @keyframes shadow {
    45% {
      opacity: .15;
      rx: 10px;
      ry: 3px;
      -webkit-transform: translateY(5px) scale(1.3);
      transform: translateY(5px) scale(1.3);
    }
  }
  :root {
    --l-space: 1em;
    --l-side-w: 26%;
    --l-side-xw: 12.5em;
    --l-main-w: 74%;
    --l-main-xw: 44em;
    --l-act-pad: -webkit-calc(1em * .875);
    --l-act-pad: 0.875em;
    --l-act-pad: calc(1em * .875);
    --t-fzRoot: 13pt;
    --t-lhRoot: 1.5;
    --c-liter: #f3f3f3;
    --c-lite: #edefef;
    --c-edge: #e8eae9;
    --c-edge-overlay: hsla(0, 0%, 69%, .35);
    --c-gray: #bfbfbf;
    --c-slate: #8a8a8a;
    --c-dark: #4a4a4a;
    --c-robin: #e1f3f6;
    --c-blue: #079cb4;
    --c-deep: #003b4c
  }

</style>
</head>
<body>
<span *ngIf="!clock">
  <div id="ccc" class data-webui="true">
  <div class="profile container">
    <a href="#top" id="top"></a>
    <div id="@head"></div>
    <aside id="@side">
      <header class="userCard">
        <div class="userCard--img nullset">
          <form class="userCard--img--upload"
                data-event="{eventAction:Edit Inline (image),eventLabel:Profile Image}"
                data-track="{eventAction:Profile,eventLabel:Edit Profile Image}"
                action="/services/v0/image" method="POST"><i class="fa fa-pencil"></i>
            <input type="hidden" name="file_name" value="5445222-userimg">
            <input type="hidden" name="upload_field_name" value="5445222-userimg">
            <input type="file" name="5445222-userimg" accept="image/*">
          </form>
          <img src="../../../pics/dasheng.jpg">
        </div>
        <h3 data-title="set your name" guide-step="1">
          <span class="editText__trigger">
            <span class="userCard--nickname edit__hilite editText edit__hold"
                  data-track="{eventAction:Profile,eventLabel:!Edit Inline Text: Nickname}"
                  data-user-patch="cust_nickname" placeholder="Profile Name" spellcheck="off" autocomplete="" autocorrect=""
                  autocapitalize="">
            </span>
          </span>
        </h3>
      </header>
      <small style="text-align:center;padding-top:0">
        <span class="editText__trigger">
          <span class="edit__hilite editText edit__hold"
                data-track="{eventAction:Profile,eventLabel:!Edit Inline Text: Location}"
                data-user-patch="cust_location" placeholder="Location" spellcheck="off" autocomplete="" autocorrect=""
                autocapitalize="">
          </span>
        </span>
        <span style="opacity:.25">/</span>
        <span class="editText__trigger">
          <span class="edit__hilite editText edit__hold"
                data-track="{eventAction:Profile,eventLabel:!Edit Inline Text: Profession}"
                data-user-patch="cust_profession" placeholder="Profession" spellcheck="off"
                autocomplete="" autocorrect="" autocapitalize="">
          </span>
        </span>
      </small>
      <hr class="userRewards">
      <small class="userRewards" style="text-align:center">
        <a href="/account/rewards.php"
           data-event="{eventAction:External Link Click,eventLabel:Your Rewards}"
           data-track="{eventAction:Profile,eventLabel:Manage Rewards}">
          <i class="fa fa-star"></i>Your Rewards
        </a>
      </small>
      <hr class="editMode">
      <div class="editMode" style="text-align:center">
        <button class="btn btn-ds" app-action="edit">
          <i class="fa fa-address-card" style="margin-right:.5em"></i>Edit
        </button>
      </div>
    </aside>
    <main id="main">
      <nav id="@tabs" class="tabLinks sticky">
        <a class="tabLinks--item" href="///silhouette/5445222/" title="about" data-route="main"
           data-event="{eventAction:Tab Navigation Click,eventLabel:About}"
           data-track="{eventAction:Profile,eventLabel:Tab Click}"><i
          class="fa fa-user-circle-o" aria-hidden="true">
        </i>About</a>
        <a class="tabLinks--item"
           href="///silhouette/5445222/reviews" title=""
           data-route="reviews"
           data-event="{eventAction:Tab Navigation Click,eventLabel:Reviews}"
           data-track="{eventAction:Reviews,eventLabel:Tab Click}">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Reviews</a>
        <a class="tabLinks--item active"
           href="///silhouette/5445222/account"
           title="" data-route="account"
           data-event="{eventAction:Tab Navigation Click,eventLabel:Account}"
           data-track="{eventAction:Account,eventLabel:Tab Click}">
          <i class="fa fa-cogs" aria-hidden="true"></i>Account</a>
        <a href="#top" class="userMini userMini__reverse"><span></span></a>
      </nav>
      <div id="@page">
        <div class="AccountView">
          <section class="accountSection accountSection__flex">
            <header class="accountSection--head"><b class="accountSection--head--title">Account</b>
              <code class="accountSection--head--cid">5445222</code>
            </header>
            <div class="accountSection--main">
              <div class="accountLinks accountLinks__split">
                <div class="accountLinks--item"
                     data-event="{eventAction:External Link Click,eventLabel:Edit Password  Settings}"
                     data-track="{eventAction:Account,eventLabel:Edit Password  Settings}">
                  <div class="accountLinks--name"><b>Password  Settings</b></div>
                  <a class="accountLinks--link" href="/account/account_edit.php">Edit</a></div>
                <div class="accountLinks--item"
                     data-event="{eventAction:External Link Click,eventLabel:Update Payment Method}"
                     data-track="{eventAction:Account,eventLabel:Update Payment Method}">
                  <div class="accountLinks--name"><b>Payment Method</b></div>
                  <a class="accountLinks--link" href="/account/card.php">Update</a></div>
                <div class="accountLinks--item"
                     data-event="{eventAction:External Link Click,eventLabel:Update Address}"
                     data-track="{eventAction:Account,eventLabel:Update Address}">
                  <div class="accountLinks--name"><b>Address</b></div>
                  <a class="accountLinks--link" href="/account/address.php">Update</a></div>
                <div class="accountLinks--item"
                     data-event="{eventAction:External Link Click,eventLabel:Manage Email Preferences}"
                     data-track="{eventAction:Account,eventLabel:Manage Email Preferences}">
                  <div class="accountLinks--name"><b>Email Preferences</b></div>
                  <a class="accountLinks--link" href="/account/email_preference_center.php">Manage</a></div>
              </div>
            </div>
          </section>
          <section class="accountSection ">
            <header class="accountSection--head"><b class="accountSection--head--title">Orders</b></header>
            <div class="accountSection--main">
              <div class="accountLinks ">
                <div class="accountLinks--item"
                     data-event="{eventAction:External Link Click,eventLabel:Manage Dermstore Subscriptions}"
                     data-track="{eventAction:Account,eventLabel:Manage Dermstore Subscriptions}">
                  <div class="accountLinks--name"><b>Dermstore Subscriptions</b></div>
                  <a class="accountLinks--link" href="/account/autorefills_list.php">Manage</a></div>
                <div class="accountLinks--item"
                     data-event="{eventAction:External Link Click,eventLabel:Manage Reorder Products}"
                     data-track="{eventAction:Account,eventLabel:Manage Reorder Products}">
                  <div class="accountLinks--name"><b>Reorder Products</b></div>
                  <a class="accountLinks--link" href="/account/product_history.php">Manage</a></div>
                <div class="accountLinks--item"
                     data-event="{eventAction:External Link Click,eventLabel:Manage Order History}"
                     data-track="{eventAction:Account,eventLabel:Manage Order History}">
                  <div class="accountLinks--name"><b>Order History</b>
                    <small class="accountLinks--subtext">View prior purchases, track orders, manage returns.</small>
                  </div>
                  <a class="accountLinks--link" href="/account/order_list.php">Manage</a></div>
              </div>
            </div>
          </section>
          <section class="accountSection">
            <header class="accountSection--head"><b class="accountSection--head--title">Dermstore Rewards</b></header>
            <div class="accountSection--main">
              <div class="accountLinks">
                <div class="accountLinks--item"
                     data-track="{eventAction:Account,eventLabel:View Dermstore Dollars}">
                  <div class="accountLinks--name"><b>Dermstore Dollars</b></div>
                  <a class="accountLinks--link" href="/account/credit_overview.php">View</a></div>
                <div class="accountLinks--item"
                     data-track="{eventAction:Account,eventLabel:Manage Rewards}">
                  <div class="accountLinks--name"><b>Rewards Points</b>
                    <small class="accountLinks--subtext">Earn points when you shop, and get discounts on future
                      purchases.&nbsp;<a href="/content/content.php?content=rewards" style="text-decoration:underline;">Learn
                        more</a></small>
                  </div>
                  <a class="accountLinks--link" href="/account/rewards.php">Manage</a></div>
              </div>
              <div class="accountLinks--item" data-track="">
                <div class="accountLinks--name"><b>My Discount Codes</b></div>
                <a class="accountLinks--link" href="/account/discount_codes.php">View</a></div>
              <div class="accountLinks--item" data-track="">
                <div class="accountLinks--name"><b>Facebook Messenger Notifications</b></div>
                <a class="accountLinks--link" href="/account/fb_subscription.php">Manage</a></div>
            </div>
          </section>
        </div>
        <section style="margin-top:1.5em">
          <a href="/account/send_a_friend.php"
             data-event="{eventAction:External Link Click,eventLabel:Invite Friends}"
             data-track="{eventAction:Account,eventLabel:Invite Friends}"
             style="text-decoration: none;">
          <div class="wellBox wellBox__link"><span style="font-size:.875em;margin:.375em 0;">
            <i class="fa fa-users"></i><span
            style="font-family:Martel,serif;line-height:.75">Invite your friends</span></span>
            <p style="text-align:center;color:inherit">
              <small>Refer your friends and earn rewards</small>
            </p>
          </div>
          </a>
        </section>
      </div>

    </main>
  </div>
</div>

</span>
<span span *ngIf="clock" style="font-size: 12px">
<div class='contain'>
  <p align="center"><b>LOADING......</b></p>
  <svg height='80' width='210'>
    <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
  </svg>
  <svg height='80' width='210'>
    <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
  </svg>
  <svg height='80' width='210'>
    <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
  </svg>
  <svg height='80' width='210'>
    <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
  </svg>
  <svg height='80' width='210'>
    <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
  </svg>
  <svg height='80' width='210'>
    <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
  </svg>
  <svg height='80' width='210'>
    <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
  </svg>
  <svg height='80' width='210'>
    <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
  </svg>
  <svg height='80' width='210'>
    <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
  </svg>
  <svg height='80' width='210'>
    <ellipse cx='25' cy='20' fill='none' rx='10' ry='10'></ellipse>
  </svg>
</div>
</span>
</body>
</html>




