<div class="container" style="margin-bottom:150px;">
  <div class="row" id="accBx">
    <div class="col-xs-12">
      <div class="breadcrumb" itemprop="breadcrumb"> <a href="http://www.dermstore.com/">Home</a>
        &gt; Account  &gt; Sign In </div>
      <div class="clear"></div>
    </div>
    <!--col-->

    <div class="col-xs-12">
      <h3>Sign In / Sign Up</h3>
      <div class="btnLine"></div>
    </div>
    <!--col-->


    <div class="col-xs-12">
      <p class="topSeparator text-center"><span class="">OR</span></p>
    </div>

    <div class="col-xs-12 col-sm-6 divide">
      <p class="headliner"><strong>Returning Customer</strong></p>
      <p>Enter your email address and password below to sign in.</p>
      <form [formGroup]="loginForm" novalidate="true" (ngSubmit)="onSubmit1()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" id="password">
        </div>
        <div *ngIf="errorMsg1" class="text-danger">{{ errorMsg1 }}</div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-6">
      <p class="topSeparator text-center visible-xs"><span class="">OR</span></p>
      <p class="headliner"><strong>Create an Account</strong></p>
      <p> Sign up to use convenient features and quick checkout.</p>
      <form [formGroup]="registerForm" novalidate="true" (ngSubmit)="onSubmit2()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" id="password">
        </div>
        <div *ngIf="errorMsg2" class="text-danger">
          <p>{{ errorMsg2 }}</p>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
      </form>
    </div>
  </div>
  <!--row-->
</div>
