@charset "utf-8";
/* CSS Document */

/****tempt styles already on the site******/
#dermstore nav#topMainNavigationNew> ul > li {
  /*padding: 0px 1.55em !important;*/
  font-size: 13px;
}
.star5 {
  background: url('//media.dermstore.com/images/reviews/50_star.png') no-repeat top left;
}
.starsBox {
  width: 60px;
  height: 12px;
  display: inline-block;
  overflow: hidden;
  text-indent: 99999px;
}
.blue-light {
  color:#079cb4;
}
.blue-light:hover {
  opacity: 0.8;
}
/****************global styles********/
div#pref, div#accBx {
  font-family: 'futura-pt';
  font-size: 15px;
}
p.mainTxtBx {
  padding-bottom:30px;
}
#accBx .breadcrumb {
  padding: 8px 0px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
  font-size:12px;
  font-family: 'futurastd-book', Arial, Helvetica, sans-serif;

  padding: 1.5em 0 !important;
  font-weight: 200;
  font-family: Helvetica Neue, Helvetica, sans-serif !important;
  letter-spacing: .05em;
  color: rgba(12,12,12,.625);
}
.breadcrumb a {
  color: rgba(12,12,12,.625);
  transition: color .2s ease;
}
.breadcrumb a:hover {
  color: rgba(12,12,12,1);
}
#accBx h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'martel', serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: .3px;
}
.alert {
  margin-bottom: 0 !important;
}
.btnLine {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 20px;
}
#discBx {
  font-size: 12px;
  margin: 60px -15px;
}
button.fav-default-orange {
  width: 235px;
  background-color: #ff6c0c;
  border: 2px solid #e06435;
  text-transform: uppercase;
  color:#fff;
  margin: 20px 0 60px;
  padding: 10px 0;
}
/***100percent width*****/
button.fav-default-orange {
  background-color: #e06435;
  text-transform: uppercase;
  padding: 10px 45px;
  margin: 15px 0;
  display: block;
  border: none;
  color:#fff;
}
select {
  margin-bottom: 20px;
}
button.fav-default-blue {
  width: 235px;
  background-color: #079cb4;
  border: 2px solid #079cb4;
  text-transform: uppercase;
  color:#fff;
  margin: 50px 0;
  padding: 10px 0;
}
button.fav-default-blue:hover {
  opacity: 0.8;
}
/***100percent width*****/

button.fav-default {
  width: 235px;
  background-color: #fff;
  border: 2px solid #c1c1c1;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 12px 0;
}
button.fav-default:hover {
  opacity: .50;
}
.fa-heart-o:hover {
  color: #e06435;
}
i.fa.fa-heart {
  color: #e06435;
  font-size: 20px;
  display: block;
}
#iconsBx a:hover {
  text-decoration: none;
}
span.brand {
  font-family: 'martel-heavy', Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}
p, span.prodName {
  font-family: 'futurastd-book', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
span.price, span.priceDisc, .purDate {
  font-family: 'futurastd-heavy', Arial, Helvetica, sans-serif;
  font-size: 12px;
}
span.priceDisc {
  color: #e06435;
}
span.prodName {
  min-height: 60px;
}
.purDate {
  text-align: center;
  display: block;
}
thead {
  background-color: #e8e9e9;
}
.table>thead>tr>th {
  vertical-align: middle;
  border-bottom: none;
  font-family: 'futurastd-heavy', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.table>tbody>tr>td {
  line-height: 1.42857143;
  vertical-align: baseline !important;
  border-top: none !important;
  border-bottom: 1px solid #ddd;
  padding: 20px 8px;
}
.table>tbody>tr:hover {
  background-color: #F7F7F7;
}
.noPad {
  margin: 0px;
  padding: 0px;
}
td.orderNum {
  color: #2e93a3;
}
.greyBg {
  background-color: #e8e9e9;
  height: 140px;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 50px;
  margin-left: 15px;
  padding-top: 15px;
  text-align:center;
}
span.pad-left {
  padding-left: 15px;
  display: block;
}
.custom-dropdown__select {
  font-size: inherit; /* inherit size from .custom-dropdown */
  padding: .5em; /* add some space*/
  margin: 0; /* remove default margins */
}
.custom-dropdown__select--white {
  background-color: #fff;
  color: #444;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ccc;
}
.custom-dropdown__select {
  padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-dropdown::before, .custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}
.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\f107";
  font-family: FontAwesome;
  height: 1em;
  font-size: 1em;
  line-height: 1;
  right: 0.7em;
  top: 50%;
  margin-top: -.5em;
}
.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
}
.custom-dropdown__select[disabled] {
  color: rgba(0,0,0,.3);
}
.custom-dropdown.custom-dropdown--disabled::after {
  color: rgba(0,0,0,.1);
}
.custom-dropdown--white::after {
  color: rgba(0,0,0,.9);
}
div#pref .col-xs-2 {
  padding: 0;
}
input[type="text"] {
  width: 100%;
  margin: 0 0 20px;
}
#pref .col-xs-4 {
  padding-left: 0;
}
.btn .caret {
  margin-left: 20px;
}
.numbs {
  display: inline-block;
  font-size: 72px;
  color: #FFF;
  float:left;
  line-height: 58px;
  padding-bottom: 50px;
}
.greyBg .fa {
  font-size: 30px;
}
.greyBg .col-xs-4 {
  display: block;
  text-align: center;
}
input#email_box {
  width: 100%;
  padding-bottom:80px;
}
/***account page*****/
.tpBar {
  background-color: #e8e9e9;
  padding: 5px 15px;
  margin: 15px 0;
  width: 100%;
  display: block;
}
#iconsBx {
  text-align: center;
}
#accBx .col-xs-8.col-md-6 {
  padding-bottom: 20px;
}
#iconsBx .fa {
  font-size: 20px;
  color: #c1c1c1;
}
span.iconTitle {
  font-family: 'martel';
  margin-top: 10px;
  display: block;
}
#accBx .col-xs-6 {
  padding-bottom: 20px;
}
#iconsBx a {
  color: #555555;
}
/******erma conf  page*****/

.optBx {
  border: 1px solid #c2c2c2;
  padding: 35px 10px;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 10px 20px;
  line-height: normal;
  float: left;
  width: 25px;
  height: 25px;
  padding-top: 20%;
}
form span {
  display: inline-block;
}
#profile-prod-review h4.brnds-itms {
  margin-bottom: 5px;
  font-weight: 600;
  color: #555;
}
#profile-prod-review .starsBoxSm {
  width: 9%;
  display: inline-block;
  margin: 15px 0;
}
#profile-prod-review .btn.btn-default {
  width: 235px;
  border-radius: 0;
  height: 38px;
  border-color: #c2c2c2;
  text-transform: uppercase;
  border-width: 2px;
  margin-top: 30px;
}
.subMess .btn.btn-default {
  width: 235px;
  border-radius: 0;
  height: 38px;
  border-color: #c2c2c2;
  text-transform: uppercase;
  border-width: 2px;
}
.subMess .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.subMess .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div#profile-prod-review {
  margin-bottom: 20px;
  font-family:'futura-pt';
}
.sih a {
  color:#069db2;
}
h3.openFav, h3.openRev, h3.openMess {
  padding: 20px 0;
  margin: 0 !important;
  border-top: 1px #ccc solid;
}
div#favSec a:after, div#revSec a:after, div#messSec a:after {
  font-family: FontAwesome;
  font-size: 12px;
  content: "\f067";
  position: absolute;
  right: 20px;
  top: 20px;
  color:#555;
}
.commentBox.commentBoxGrey {
  background-color: #F1F1F1;
  padding: 15px;
}
.pro-img {
  padding-bottom: 20px;
}
.rewardAlert {
  font-size:12px;
  color:#ff6c0c !important;
}
.anoTxt {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #c6c6c6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c6c6c6;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;/* the hidden clearer */
}
.star-cb-group * {
  font-size: 5rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: .88em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: url("//media.dermstore.com/images/widgets/product/stars-1-grey.png");
  color: #e8e9e9;
}
.star-cb-group > input:checked ~ label:before {
  content: url("//media.dermstore.com/images/widgets/product/stars-1-fill.png");
  color: #079cb4;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.rateTtl {
  margin-top: 25px;
}
.editButton {
  width: 100%;
  border-radius: 0;
  height: 38px;
  border-color: #c2c2c2;
  text-transform: uppercase;
  border-width: 2px;
}
button.fav-default-orange.confBtn {
  width: 100%;
  margin:0;
  padding: 9px 45px;
}
p.termCond {
  margin-top: 20px;
}
.modal-content {
  border-radius: 0;
}
.ar-photo2 {
  margin-bottom:25px;
}
.helpTxt {
  margin-top:60px;
}
.img-plc{
  margin: 20px 0;
  float:left;
}
.reviewBx {
  width: 100%;
  height:200px;
  margin-bottom: 40px;
}
ul.rev, ul.revRadio {
  display: block;
  margin: 0 0 20px;
  padding: 0;
  font-weight: bold;
  text-align:center;
  border-bottom: 1px #ccc solid;
}
.revRadio li {
  display: inline-block;
  padding: 0px 12px 0px;
}
.rev li {
  display: inline-block;
  padding: 0px 24px 10px;
}
.proPicks strong {
  padding-left: 36px;
  padding-bottom: 25px;
  float: left;
}
input[type="radio"].tone {
  margin: 18px 12px !important;
}

/****media queries**********/

@media (max-width: 991px) {
  /* Force table to not be like tables anymore */
  .table-responsive {
    /*width: 726px;*/
    border: none;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 115px;
    padding-right: 50px;
    white-space: nowrap;
    display:inline-block;
  }
  table, thead, tbody, th, td, tr {
    display: block;
    width: 100%;
  }
  td:nth-of-type(1) {
    width: 100%;
  }
  .noPad {
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    margin: 20px 0;
    border: none !important;
  }
  /*= WTF
  */
  /*Label the data order list page*/
  td.orList:nth-of-type(1):before {
    content: "Product";
  }
  td.orList:nth-of-type(2):before {
    content: "Quantity";
  }
  td.orList:nth-of-type(3):before {
    content: "Reason";
  }
  td.orList:nth-of-type(4):before {
    content: "Return";
  }
  td.orList:nth-of-type(5):before {
    content: "Price";
  }
  td.orList:nth-of-type(6):before {
    content: "Discount";
  }
  td.orList:nth-of-type(7):before {
    content: "DS $";
  }
  td.orList:nth-of-type(8):before {
    content: "Tax";
  }
  td.orList:nth-of-type(9):before {
    content: "Total";
  }
  /*Label the data reorder page*/
  td.reOrd:nth-of-type(1):before {
    content: "Order #";
  }
  td.reOrd:nth-of-type(2):before {
    content: "Order Date";
  }
  td.reOrd:nth-of-type(3):before {
    content: "Total";
  }
  td.reOrd:nth-of-type(4):before {
    content: "Order Status";
  }
  td.reOrd:nth-of-type(5):before {
    content: "Tracking";
  }
  td.reOrd:nth-of-type(6):before {
    display:none;
  }
  /*For SUS/Discount codes reorder*/
  td.reOrder:nth-of-type(1):before {
    content: "Promo Code";
  }
  td.reOrder:nth-of-type(2):before {
    content: "Status";
  }
  td.reOrder:nth-of-type(3):before {
    content: "Discount Amount";
  }
  td.reOrder:nth-of-type(4):before {
    content: "Expires";
  }
  /*Label the data send friend*/
  td.sendFr:nth-of-type(1):before {
    content: "Date";
  }
  td.sendFr:nth-of-type(2):before {
    content: "Friends";
  }
  td.sendFr:nth-of-type(3):before {
    content: "Status";
  }
  /*Label the data autorefill*/
  td.auRef:nth-of-type(1):before {
    content: "Order #";
  }
  td.auRef:nth-of-type(2):before {
    content: "Brand";
  }
  td.auRef:nth-of-type(3):before {
    content: "Product";
  }
  td.auRef:nth-of-type(4):before {
    content: "Total";
  }
  td.auRef:nth-of-type(5):before {
    content: "Last Shipment";
  }
  td.auRef:nth-of-type(6):before {
    content: "Next Shipment";
  }
  td.auRef:nth-of-type(7):before {
    content: "Frequency";
  }
  td.auRef:nth-of-type(8):before {
    content: "Status";
  }
  /*Label the data erma*/
  td.rma:nth-of-type(1):before {
    content: "Product";
  }
  td.rma:nth-of-type(2):before {
    content: "Quantity";
  }
  td.rma:nth-of-type(3):before {
    content: "Reason";
  }
  td.rma:nth-of-type(4):before {
    content: "Price";
  }
  td.rma:nth-of-type(5):before {
    content: "Discount";
  }
  td.rma:nth-of-type(6):before {
    content: "DS $";
  }
  td.rma:nth-of-type(7):before {
    content: "Tax";
  }
  td.rma:nth-of-type(8):before {
    content: "Status";
  }
  td.rma:nth-of-type(9):before {
    content: "Total";
  }
  .no-lt-pad {
    padding-left: 0;
  }
  .pro-img {
    padding-bottom: 50px;
  }
  .table>tbody>tr>td {
    padding: 10px 8px;
    border:none;
  }
  td.orList::before, td.rma::before, td.auRef::before {
    font-weight:bold;
  }
}
@media (min-width: 992px) {
  .no-lt-pad {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .table>tbody>tr>td {
    white-space: normal !important;
    display: inline-flex;
    width: 100%;
    padding: 10px 8px;
    border:none;
  }
  .btnLineM {
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .table-responsive {
    width: 100% !important;
    border:none !important;
  }
  td:before {
    width: 172px;
  }
  .noPad {
    text-align: center;
    padding-top: 10px;
    display: block;
    margin: 20px 0;
    border: none !important;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 115px;
    padding-right: 50px;
    white-space: nowrap;
    display:inline-block;
  }
  td:nth-of-type(1) {
    width: 100%;
  }
  td.orList, td.rma, td.auRef {
    display:inline-flex;
    width:100%;
    white-space:normal !important;
  }
  /*= WTF
  */
  /*Label the data order list page*/
  td.orList::before, td.rma::before, td.auRef::before {
    font-weight:bold;
  }
  td.orList:nth-of-type(1):before {
    content: "Product";
  }
  td.orList:nth-of-type(2):before {
    content: "Quantity";
  }
  td.orList:nth-of-type(3):before {
    content: "Reason";
  }
  td.orList:nth-of-type(4):before {
    content: "Return";
  }
  td.orList:nth-of-type(5):before {
    content: "Price";
  }
  td.orList:nth-of-type(6):before {
    content: "Discount";
  }
  td.orList:nth-of-type(7):before {
    content: "DS $";
  }
  td.orList:nth-of-type(8):before {
    content: "Tax";
  }
  td.orList:nth-of-type(9):before {
    content: "Total";
  }
  /*Label the data reorder page*/
  td.reOrd:nth-of-type(1):before {
    content: "Order #";
  }
  td.reOrd:nth-of-type(2):before {
    content: "Order Date";
  }
  td.reOrd:nth-of-type(3):before {
    content: "Total";
  }
  td.reOrd:nth-of-type(4):before {
    content: "Order Status";
  }
  td.reOrd:nth-of-type(5):before {
    content: "Tracking";
  }
  td.reOrd:nth-of-type(6):before {
    display:none;
  }
  /*Label the data send friend*/
  td.sendFr:nth-of-type(1):before {
    content: "Date";
  }
  td.sendFr:nth-of-type(2):before {
    content: "Friends";
  }
  td.sendFr:nth-of-type(3):before {
    content: "Status";
  }
  /*Label the data autorefill*/
  td.auRef:nth-of-type(1):before {
    content: "Order #";
  }
  td.auRef:nth-of-type(2):before {
    content: "Brand";
  }
  td.auRef:nth-of-type(3):before {
    content: "Product";
  }
  td.auRef:nth-of-type(4):before {
    content: "Total";
  }
  td.auRef:nth-of-type(5):before {
    content: "Last Shipment";
  }
  td.auRef:nth-of-type(6):before {
    content: "Next Shipment";
  }
  td.auRef:nth-of-type(7):before {
    content: "Frequency";
  }
  td.auRef:nth-of-type(8):before {
    content: "Status";
  }
  /*Label the data erma*/
  td.rma:nth-of-type(1):before {
    content: "Product";
  }
  td.rma:nth-of-type(2):before {
    content: "Quantity";
  }
  td.rma:nth-of-type(3):before {
    content: "Reason";
  }
  td.rma:nth-of-type(4):before {
    content: "Price";
  }
  td.rma:nth-of-type(5):before {
    content: "Discount";
  }
  td.rma:nth-of-type(6):before {
    content: "DS $";
  }
  td.rma:nth-of-type(7):before {
    content: "Tax";
  }
  td.rma:nth-of-type(8):before {
    content: "Status";
  }
  td.rma:nth-of-type(9):before {
    content: "Total";
  }
  .pro-img {
    margin-bottom: 20px;
  }
  .m-bx {
    background-color: #E8E9E9;
    margin-bottom: 10px;
    padding: 20px 15px;
  }
  button.fav-default-orange {
    width: 100%;
  }
  button.fav-default {
    width: 100%;
  }
  .custom-dropdown__select {
    padding-right: 1.5em;
  }
  a.btn.btn-default.editButton {
    margin-bottom: 15px;
  }
  .modal-header.modal-terms {
    padding: 15px;
  }
  .modal-header .close.tms {
    margin-top: 3px;
  }
  .rev li {
    padding: 0px 15px 10px;
  }
  .revRadio li {
    padding: 0px 3px 0px;
  }
  .star-cb-group * {
    font-size: 45px;
  }
  input[type="radio"], input[type="checkbox"] {
    margin: 4px 10px 33px !important;
  }
}
@media (max-width: 320px) {
  td:before {
    padding-right: 62px;
  }
  .rev li {
    display: inline-block;
    padding: 0px 12px 10px;
  }
  .revRadio li {
    display: inline-block;
    padding: 0;
  }
  .star-cb-group * {
    font-size: 36px;
  }
}


#marketing-credits .btn-ds {
  /* account credits table buttons */
  background: #079cb4;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
}
#marketing-credits td {
  -ms-align-items: center;
  align-items: center;
}
#marketing-credits .mobile-description {
  display: inline-block;
  max-width: 25%;
  min-width: 150px;
  padding-right: .5em;
}
#marketing-credits .title_row {
  /* fix h3,h4 text alignment */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  /*display: -webkit-box;*/
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
}
#marketing-credits .title_row > * {
  margin: 0 !important;
}
@media (min-width: 767px) {
  #marketing-credits .btn-ds {
    width: 235px;
    max-width: 100%;
  }
}
@media (max-width:992px) {
  #marketing-credits .title_row {
    border-bottom: 1px solid;
    margin: 0 0 20px;
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  #marketing-credits .title_row > *:not(.hidden-xs) {
    display: block;
    float: none !important;
    width: 100%;
    text-align: center;
  }
}

/* MARKETING CREDITS */
#marketing-credits h3, #marketing-credits h4 {
  font-family: 'Martel';
}
#marketing-credits h4 {
  color: #079cb4;
  font-size: 18px;
}
#marketing-credits table tr th {
  /*font-weight: bold;*/
}
#marketing-credits .grey {
  color: #a9a9a9;
}
p.item-rating.clearfix {
  margin-top: 5px;
}
