<div class="col-sm-2 hidden-xs">
  <div id="refineBy">
    <h5 class="alt-highlight">Refine by</h5>
      <button type="button" class="toggle-btn" (click)="sideShown = true">Filters</button>
      <div class="filters refine-panel" [class.side-shown]="sideShown">
        <button type="button" class="close-side-btn" (click)="sideShown = false">x</button>
        <h5>Skin Care Product Type</h5>
        <form *ngIf="showFilters" >
          <div class="subnav_group" *ngFor = 'let filter of categories' >
            <label class="fake-checkbox">
              <input type="checkbox" checked (change)='onInputChange($event, filter, "category")'>
              <span class="square"><span class="fill"></span></span>
              <span class="label">{{filter.name}}</span>
              <span></span>
            </label>
          </div>
        </form>
      </div>

      <div class="refine-panel" style="margin-bottom:25px;">
        <h5>Price range:</h5>
        <form *ngIf = "showFilters">
          <div class="custom-filter filter-wrapper" *ngFor = 'let filter of priceFilters'>
            <label class="fake-checkbox">
              <input type="radio" name="price" [checked]='filter.checked' (click)='onInputChange($event, filter, "price")'>
              <span class="circle"><span class="fill"></span></span>
              <span class="label" >{{ filter.name}}</span>
              <span></span>
            </label>
          </div>
        </form>
        <!-- br>
        <input type="text" id="price_min" name="price_min" value="" size="3"> to <input type="text" id="price_max" name="price_max" value="" size="3">
        <div class="nlb">&nbsp;</div -->
      </div>

      <div class="refine-panel" style="margin-bottom:25px;">
        <h5>Custom filters</h5>
        <form *ngIf = "showFilters">
          <div class="custom-filter filter-wrapper" *ngFor = 'let filter of customFilters'>
            <label class="fake-checkbox">
              <input type="radio" name="custom" [checked]='filter.checked' (click)='onInputChange($event, filter, "custom")'>
              <span class="circle"><span class="fill"></span></span>
              <span class="label">{{filter.name}}</span>
              <span></span>
            </label>
          </div>
        </form>
      </div>

      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <div class="refine-panel">
        <h5>Featured Shops</h5>
        <a href="/profile_Travel+Essentials+_504241.htm">Travel Essentials </a><br>
        <a href="/profile_SPF+For+Sensitive+Skin_504867.htm">SPF For Sensitive Skin</a><br>
        <a href="/profile_Dermstore+Bestsellers_503999.htm">Dermstore Bestsellers</a><br>
        <a href="/profile_Best+of+January-March+2017_504734.htm">Best of January-March 2017</a><br>
        <a href="/profile_Cream_504203.htm">Cream</a><br>
        <a href="/profile_Sale_504310.htm">Sale</a><br>
        <a href="/profile_SPF+For+All+Day+Sun_504178.htm">SPF For All Day Sun</a><br>
        <a href="/profile_Acne+BestSellers_503631.htm">Acne BestSellers</a><br>
        <a href="/profile_If+you+like+Ole+Henriksen_504620.htm">If you like Ole Henriksen</a><br>
        <a href="/profile_Acne+Additional+Solutions_504801.htm">Acne Additional Solutions</a><br>

        <div class="nav_view_more">View More</div>
        <div class="nav_view_more nav_view_less" style="display:none;">View Less</div>
        <div class="full_list" style="display:none;">
          <div class="list_divider"></div>
          <a href="/profile_Acne+Additional+Solutions_504801.htm">Acne Additional Solutions</a>
          <br>
          <a href="/profile_Acne+BestSellers_503631.htm">Acne BestSellers</a><br>
          <a href="/profile_Allure+Award+Winners_503994.htm">Allure Award Winners</a><br>
          <a href="/profile_Anti-Pollution+Fighters_504798.htm">Anti-Pollution Fighters</a><br>
          <a href="/profile_Avene+-+SPF_504858.htm">Avene - SPF</a><br>
          <a href="/profile_BeautyFIX+August+2017_504851.htm">BeautyFIX August 2017</a><br>
          <a href="/profile_BeautyFIX+July+2017_504845.htm">BeautyFIX July 2017</a><br>
          <a href="/profile_BeautyFIX+June+2017_504826.htm">BeautyFIX June 2017</a><br>
          <a href="/profile_BeautyFIX+September+2017_504877.htm">BeautyFIX September 2017</a><br>
          <a href="/profile_Best+of+January-March+2017_504734.htm">Best of January-March 2017</a><br>
          <a href="/profile_Bestsellers+from+Asia_504057.htm">Bestsellers from Asia</a><br>
          <a href="/profile_Cream_504203.htm">Cream</a><br>
          <a href="/profile_Dermstore+Bestsellers_503999.htm">Dermstore Bestsellers</a><br>
          <a href="/profile_Dermstore+Picks_503521.htm">Dermstore Picks</a><br>
          <a href="/profile_Gift+Sets_503389.htm">Gift Sets</a><br>
          <a href="/profile_Gym+Bag+Essentials_504762.htm">Gym Bag Essentials</a><br>
          <a href="/profile_Head+to+Toe+Sun+Care_504700.htm">Head to Toe Sun Care</a><br>
          <a href="/profile_If+you+like+Caudalie_504206.htm">If you like Caudalie</a><br>
          <a href="/profile_If+you+like+Ole+Henriksen_504620.htm">If you like Ole Henriksen</a><br>
          <a href="/profile_INSTANT+TAN_504198.htm">INSTANT TAN</a><br>
          <a href="/profile_Intelligent+Beauty+Shop_503807.htm">Intelligent Beauty™ Shop</a><br>
          <a href="/profile_Limited-Time+Offers_501622.htm">Limited-Time Offers</a><br>
          <a href="/profile_Moisturizers+-+Cream_504833.htm">Moisturizers - Cream</a><br>
          <a href="/profile_Moisturizers+%E2%80%93+Gel_504153.htm">Moisturizers – Gel</a><br>
          <a href="/profile_Moisturizers+%E2%80%93+Lotion_504793.htm">Moisturizers – Lotion</a><br>
          <a href="/profile_New+Arrivals_503258.htm">New Arrivals</a><br>
          <a href="/profile_New+Arrivals+-+Natural+Focus+_504735.htm">New Arrivals - Natural Focus </a><br>
          <a href="/profile_Now+Trending_504312.htm">Now Trending</a><br>
          <a href="/profile_Post-Procedure+Skin+Care_503747.htm">Post-Procedure Skin Care</a><br>
          <a href="/profile_Powder_504201.htm">Powder</a><br>
          <a href="/profile_PREP++UPKEEP_504200.htm">PREP &amp; UPKEEP</a><br>
          <a href="/profile_Sale_504310.htm">Sale</a><br>
          <a href="/profile_Skin+Care+with+Sunscreen_504191.htm">Skin Care with Sunscreen</a><br>
          <a href="/profile_SPF+and+Antioxidant_504797.htm">SPF and Antioxidant</a><br>
          <a href="/profile_SPF+FOR+ACNE+PRONE+SKIN_504180.htm">SPF FOR ACNE PRONE SKIN</a><br>
          <a href="/profile_SPF+FOR+AGING+SKIN_504182.htm">SPF FOR AGING SKIN</a><br>
          <a href="/profile_SPF+For+All+Day+Sun_504178.htm">SPF For All Day Sun</a><br>
          <a href="/profile_SPF+For+Normal+Skin_504181.htm">SPF For Normal Skin</a><br>
          <a href="/profile_SPF+For+Out+and+About_504177.htm">SPF For Out and About</a><br>
          <a href="/profile_SPF+For+Sensitive+Skin_504867.htm">SPF For Sensitive Skin</a><br>
          <a href="/profile_SPF+For+the+Indoors_504176.htm">SPF For the Indoors</a><br>
          <a href="/profile_Spray_504202.htm">Spray</a><br>
          <a href="/profile_Summer+Regimen%3A+Cleansers+and+Moisturizers_504763.htm">Summer Regimen: Cleansers and Moisturizers</a><br>
          <a href="/profile_Summer+Skin+Care%3A+Exfoliators+and+Microneedling_504832.htm">Summer Skin Care: Exfoliators and Microneedling</a><br>
          <a href="/profile_Summer+Skin%3A+Hydration_504601.htm">Summer Skin: Hydration</a><br>
          <a href="/profile_Travel+Essentials+_504241.htm">Travel Essentials </a><br>
          <a href="/profile_Travel+Size+Skin+Care_503788.htm">Travel Size Skin Care</a><br>
        </div>
        <div class="nlb">&nbsp;</div>
      </div>
  </div><!-- #refineBy -->
</div><!-- .col -->
