@import "../shared/models/colors";
@import "../shared/models/mixins";

.subnav_group .label{ color: #000; }
.refine-panel .label{ color: #000; }

.filters{
  border: 1px solid #333333;
  padding: 20px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  background-color: white;
  border: none;
  border-radius: 4px;
  padding-top: 1px;
  position: relative;
}

.filter{
  width: 100%;
  background: #999999;
  border-radius: 3px;
  margin-bottom: 10px;
  height: 35px;
}

.fake-checkbox{
  position: relative;
}

.filter-wrapper{
  margin-bottom: 8px;
  label{
    cursor: pointer;
    &:hover .label{

    }
  }
  input[type=checkbox], input[type=radio]{
    display: none;
    &:checked + .square, &:checked + .circle{
      opacity: 1;
    }
    &:checked + .square .fill, &:checked + .circle .fill{
      opacity: 1;
    }
    &:checked ~ .label{
      opacity: 1;
    }
  }
  .square, .circle, .fill{
    display: inline-block;
  }
  .square, .circle{
    height: 16px;
    width: 16px;
    border: 1px solid $primary-color;
    position: relative;
    opacity: 0.4;
    .fill{
      height: 10px;
      width: 10px;
      background-color: $primary-color;
      @include transition-fade-circ(0.25s);
      position: absolute;
      opacity: 0;
    }
  }
  .square{
    border-radius: 3px;
    .fill{
      border-radius: 2px;
    }
  }
  .circle{
    border-radius: 50%;
    .fill{
      border-radius: 50%;
    }
  }
  .fill{
    top: 3px;
    left: 3px;
  }
  .label{
    text-transform: capitalize;
    position: relative;
    top: -4px;
    margin-left: 7px;
    opacity: 0.6;
    @include transition-fade(0.4s);
  }
}

h5{
  text-transform: uppercase;
  color: #bababa;
  font-size: 0.8em;
  font-weight: 600;
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 3px;
    background-color: #e8e8e8;
  }
}

.toggle-btn{
  display: none;
}

.close-side-btn{
  display: none;
  background: none;
  border: none;
}

/** Media queries **/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  .close-side-btn{
    display: block;
    position: absolute;
    color: #aaaaaa;
    font-size: 1.2em;
    font-weight: 300;
    right: 18px;
    top: 6px;
    opacity: 0.7;
  }
  .toggle-btn{
    display: inline-block;
    position: absolute;
    left: -69px;
    top: 11px;
    background: white;
    border-radius: 3px;
    color: #5D4EF0;
    padding: 4px 11px;
    border: none;
    font-size: 0.8em;
    font-weight: 600;
    box-shadow: 0 2px 15px rgba(0,0,0,0.4);
  }
  .filters{
    width: initial;
    position: relative;
    box-shadow: none;
    border-radius: 0;
    height: 100%;
    @include transition-fade-circ(0.35s);
    &.side-shown{
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}
