<div>
        <h2>Add An employee</h2>
        <div class="container ng-controller="addCtrl">
            <form ng-submit="addEmployee()" novalidate role="form" class="form col-sm-6" name="employeeForm">
                <div class="form-group">
                    <label for="name"> Name: </label>  
                    <input type="text" name="name" class="form-control" ng-model="newEmployee.name" placeholder="employee name" required> 
                </div>
                <div ng-show="employeeForm.$submitted || employeeForm.name.$touched">
                    <div ng-show="employeeForm.name.$error.required">
                        <span style="color:red;">Name can't be empty!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Age">Age:</label>
                        <input type="number" class="form-control" id="age" ng-model="newEmployee.age" placeholder="employee age" age-validator>
                </div>
                <div ng-show="employeeForm.$submitted || employeeForm.age.$touched">
                    <div ng-show="employeeForm.age.$error.ageValidator">
                        <span style="color:red;">Age should be [0,200)!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                        <input type="text" name="city" class="form-control" ng-model="newEmployee.address.city" required>
                </div>
                <div ng-show="employeeForm.$submitted || employeeForm.city.$touched">
                    <div ng-show="employeeForm.city.$error.required">
                        <span style="color:red;">City can't be empty!</span>
                    </div>
                </div>
                <div class="form-group">
                            <label for="State">State:</label>
                            <select name="state" id="state" class="form-control" ng-model="employee.address.state">
                                <option ng-repeat="state in states" value="{{state.abbreviation}}">{{state.name}}</option>
                            </select>			
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
</div>