<div>
        <h2>Edit employee information</h2>
        <div class="container ng-controller="addCtrl">
            <form ng-submit="addEmployee()" novalidate role="form" class="form col-sm-6" name="employeeForm">
                <div class="form-group">
                    <label for="name"> Name: </label>  
                    <input type="text" name="name" class="form-control" ng-model="employee.name" id="name" disable> 
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                        <input type="number" name="age" class="form-control" id="age" ng-model="employee.age" age-validator>
                </div>
                <div ng-show="employeeForm.$submitted || employeeForm.age.$dirty">
                    <div ng-show="employeeForm.age.$error.required">
                        <span class="error">Age should be [0,200)!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                        <input type="text" name="city" id="city" class="form-control" ng-model="employee.address.city" required>
                </div>
                <div ng-show="employeeForm.$submitted || employeeForm.city.$dirty">
                    <div ng-show="employeeForm.city.$error.required">
                        <span class="error">City is required!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="state">State:</label>
                    <select name="state" id="state" class="form-control" ng-model="employee.address.state">
                        <option ng-repeat="state in states" value="{{state.abbreviation}}">{{state.name}}</option>
                    </select>			
            </div>
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
</div>