<div>
    <h2><b>All Employee Information</b></h2>
    <table class="table table-bordered table-striped">
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>State</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees | filter: homeWord | priceFilter: Min : Max ">
                <td>{{employee.name}}</td>
                <td>{{employee.age}}</td>
                <td>{{employee.address.city}}</td>
                <td>{{employee.address.state}}</td>
                <td> 
                    <button class="btn btn-link" ng-click="edit($index)"> Edit </button> 
                    <button class="btn btn-link" ng-click="doDelete(employee.name)"> Delete </button>
                </td>
            </tr>
        </tbody>
    </table>
    <mean-search mean-word="homeWord" mean-max="Max" mean-min = "Min"></mean-search>
   
</div>