
<h3>Search By Name, City, State</h3>
<style>
    .col-6 {
        display: inline-block;
    }
</style>
<div class="row">
    <div class="col-sm-2">
        <label for="attribute">Serach by</label>
        <select id="attribute" class="form-control">
            <option></option>
            <option value="name">Name</option>
            <option value="city">City</option>
            <option value="state">State</option>
        </select>
    </div>
    <div class="col-sm-2">
        <label for="">Search Text</label>
        <input type="text" class="form-control" ng-model="meanWord">
    </div>
</div>
   
<h3>Age Filter</h3>
    <div class="row">
        <div class="col-sm-2">
            <label for="">Min</label>
            <input type="text" ng-model="meanMin" class="form-control">
        </div>
        <div class="col-sm-2">
            <label for="">Max</label>
            <input type="text" ng-model="meanMax" class="form-control">
        </div>
    </div>
</div>